[2020-09-03 14:10] uriel-kluk opened #35 "[BUG] Unable to complete the OTA update"
Loving the SCZ kit and pipeline, awesome work.

Steps:
1. Went through the onboarding portal, everything completed on time, although I so the note about the 5 business days for ADU to complete.
1. Obviously I didn't wait for the 5 days to start working with my system and I found some issues that have been identified and fixed in the new module update. Mainly: After a reboot the edge can't connect.

[2020-09-21 23:28] riverar opened #43 "Is this repository supposed to be publicly accessible?"
Because it is. Just a friendly heads up.

[2020-09-22 00:37] v-iskha commented on #43
@elqu20 - Could you help here on the query. Thanks

[2020-09-22 00:42] elqu20 commented on #43
Thanks for the heads-up! The repo was intentionally made public this morning.

[2020-09-22 00:42] #43 closed

[2020-09-29 17:22] v-iskha commented on #35
Alex Akesson's Comment on 24-Sep-2020 - Fixed and guidance emailed to Mesh. Awaiting feedback prior to closing.

[2020-09-29 23:05] balakreshnan opened #48 "Dev-Tools-Pack v0.1.5 error"
installer version: 0.1.5
env:
[code]
log:
[code]

[2020-09-29 23:12] v-iskha commented on #48
@v-robgi - Need your advice on the mentioned issue.

[2020-09-30 02:27] v-robgi commented on #48
Let me look at the logs and follow up.

[2020-09-30 02:30] v-robgi commented on #48
@balakreshnan - Do you have any more details here? I don't see the logs attached to the issue. They can be found under:

%temp%\Dev-Tools-Pack-Installer

[2020-10-02 01:05] v-iskha commented on #35
Closing this ticket as Bug # 29024600 has been resolved for this issue.

[2020-10-02 01:05] #35 closed

[2020-10-12 23:06] v-iskha commented on #48
@balakreshnan - Please advice if you have shared the logs as requested by @v-robgi

[2020-10-21 23:25] v-iskha commented on #48
@balakreshnan - Any update on the logs?

[2020-10-21 23:52] balakreshnan commented on #48
No i have to resintall it will let you know.

thanks
Bala
________________________________
From: v-iskha <notifications@github.com>
Sent: Wednesday, October 21, 2020 6:25 PM
To: microsoft/Project-Santa-Cruz-Preview <Project-Santa-Cruz-Preview@noreply.github.com>
Cc: Bala <bala_b@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Project-Santa-Cruz-Preview] Dev-Tools-Pack v0

[2020-11-18 17:33] uriel-kluk opened #72 "Setting SSH Remote Login from the onboarding page fails"
I am following the wizard at step SSH remote login
I meet the requirements for `login` and `password` as the info bullet suggests.

But no matter what I enter I get the password expired OpenSSL error attached
![image](https://user-images.githubusercontent.com/41210115/99565761-a6c72d80-2991-11eb-951e-56180734118e.png)

[2020-11-18 18:05] v-iskha commented on #72
@uriel-kluk - If PAM is complaining that an Authentication token is no longer valid, this means the user’s (here iot) password has expired. You need to change the password of user (iot) before you do SSH remote login.

[2020-11-18 18:11] uriel-kluk commented on #72
Thank you but I am confused... user in what context? I am getting this
error after provisioning the SCZ kit,
Who is the use?
Where do I change it?

On Wed, Nov 18, 2020 at 12:05 PM v-iskha <notifications@github.com> wrote:

--
*Uri Kluk**, CTO*

*An IoT Solutions Innovator*

p: 317.661.4800
w: mesh-systems.com
<https://www.linkedin.com/company/mesh-systems-llc>

[2020-11-19 05:24] v-prsasa commented on #72
@uriel-kluk Can you try to give new name instead of IOT then give the password and check?

[2020-11-19 12:31] uriel-kluk commented on #72
How can I give new name with SSH? Do you suggest to use a different name on
the portal?

Sent from my phone

On Wed, Nov 18, 2020, 11:24 PM v-prsasa <notifications@github.com> wrote:

[2020-11-19 12:33] v-prsasa commented on #72
@uriel-kluk Yes, It may work. until then will investigate on this.

[2020-11-19 15:56] uriel-kluk commented on #72
I tried changing `IOT` to `admin1`  from the portal and got the same error

[2020-11-19 17:26] v-iskha commented on #72
@SillyKeith - Hi Keith could you please help on the issue user is facing while trying to do SSH remote login. Thanks.

[2020-11-19 17:45] WendyAnn0079 commented on #72
Please go to the root login and change the password.  Once the root password is changed you will be able to change the SSH password (please reference email sent on 11/18 for default password).

[2020-11-19 17:48] uriel-kluk commented on #72
How do I go to the root login without SSH?

On Thu, Nov 19, 2020 at 11:45 AM Wendy Owen <notifications@github.com>
wrote:

--
*Uri Kluk**, CTO*

*An IoT Solutions Innovator*

p: 317.661.4800
w: mesh-systems.com
<https://www.linkedin.com/company/mesh-systems-llc>

[2020-11-20 00:49] v-iskha commented on #48
@balakreshnan - A gentle follow-up if you have any update on this.

[2020-11-20 01:53] balakreshnan commented on #48
Sorry close it as i got a new laptop and havent tested it.

Sent from my Sprint Samsung Galaxy S10+.
Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: v-iskha <notifications@github.com>
Sent: Thursday, November 19, 2020 6:49:31 PM
To: microsoft/Project-Santa-Cruz-Preview <Project-Santa-Cruz-Preview@noreply.github.com>
Cc: Bala <bala_b@hotmail.com>; Mention <ment

[2020-11-20 01:55] v-iskha commented on #48
Closing this ticket as per update from @balakreshnan

[2020-11-20 01:55] #48 closed

[2020-11-25 21:22] ozhernan opened #77 "Step 5"
In this OOBE doc https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md

Step 5 says "We recommend" but you cannot continue registering the device to azure if you remain connected to the SoftAP. This should not be a recommendation but a must.

[2020-11-26 04:22] elqu20 commented on #77
Updated, thank you!

[2020-11-26 04:22] #77 closed

[2020-12-04 08:14] MatthijsvdVeer commented on #72
I'm running into the same error. @uriel-kluk the default password for root is p@ssw0rd

After that, you should be able to run the OOB experience and the error will no longer be there!

[2020-12-07 09:54] MatthijsvdVeer opened #78 "Enabling ADU results in an error during onboarding"
During the onboarding steps, when I try to enable ADU and hit the Next button, I see an error.

![image](https://user-images.githubusercontent.com/736727/101336073-4d5c6b00-387a-11eb-91d5-a7bea26c2d2d.png)

This might be related to the fact that while I can see the *Device Update for IoT Hubs* feature, I can't seem to create a new one in the portal:
![image](https://user-images.githubusercontent.c

[2020-12-07 10:06] v-prsasa commented on #78
@mimcco Can you look into this issue ?

[2020-12-09 17:31] mimcco commented on #78
@MatthijsvdVeer - I just hit this same issue yesterday. I'm still working through it with our engineering team but hopefully we can get both of our issues resolved. First, can you try again in a private browser window and see if that does the trick? It didn't work for me, but it's always a good step to get the cookies/cache out of the way. If that doesn't work, can you send mail to aedppsup@micros

[2020-12-09 17:54] MatthijsvdVeer commented on #78
Tried in a private browser window, and still getting the same error. I'll send an email right away! Thanks @mimcco

[2020-12-14 20:45] hjerezmsft opened #81 "Dev-Tools-Pack vundefined error"
installer version: undefined
  env:
[code]
  log:
[code]

[2020-12-14 21:15] ozhernan opened #82 "screenshots need to be updated"
In https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/prototyping/create-nocode-vision.md , the portal portal UI has changed so the screenshots need to be updated

[2020-12-15 07:28] MS-Nikunja commented on #82
Hi @elqu20, can you please look into this. Thanks.

[2020-12-15 08:19] MS-Nikunja commented on #81
Hi @hjerezmsft -  I don't see the logs attached to the issue. They can be found under:

%temp%\Dev-Tools-Pack-Installer

[2020-12-16 13:14] jamhamlee commented on #78
Same problem here. Private Window won't work.

[2020-12-16 19:12] mustafakasap commented on #78
Same here.

Looking into this issue by manually enabling ADU...

[2020-12-16 20:50] ozhernan opened #85 "documentation not clear"
https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/ssh_and_serial_connection_setup.md

In the doc above, the serial connections steps are not clear, it doesn't specify the port on the dev kit we have to use for the serial connection.

Also, to enable SSH you have to complete OOBE so it's safe to assume the dev kit is connected to the network and w

[2020-12-17 05:14] MS-Nikunja commented on #85
Hi @elqu20, can you look into this.

[2020-12-17 16:21] CortalUX commented on #78
I'm still getting this issue with onboarding a new device.
I have the same issue as @MatthijsvdVeer, and can't access this from the portal
![image](https://user-images.githubusercontent.com/19361656/102513952-ca11f500-4083-11eb-85c3-d6e6ab484f14.png)
If I disable the ADU, then the page re-opens with ADU pre-selected, and asks for an AAD app - and the Blazor app crashes
![image](https://user-images

[2020-12-21 15:39] v-prsasa commented on #78
@MatthijsvdVeer This is any expected error. It is outside of our control as it is handled by Azure AFEC team (unfortunately)
Could you try re-registering the the Microsoft.DeviceUpdate RP and then returning to the SCZ website?

[2020-12-21 21:20] ncgregpruett opened #87 "Remote trust data does not exist: AIVisionDevKitGetStartedModule will not run on dev-kit"
Installed using Set Modules -> Add -> Marketplace

via ssh -- docker images shows this version installed:

[ ~ ]$ sudo docker images
...
mcr.microsoft.com/aivision/visionsamplemodule                 1.1.3-arm32v7       f8a7667eb3ea        18 months ago       659MB

In Azure Portal, under Iot Hub -> Automatic Device Management -> IoT Edge -> Modules
shows:
AIVisionDevKitGetStartedModule
IoT Edge Cu

[2020-12-22 08:14] MS-Nikunja commented on #87
Hi @ncgregpruett, we are looking into it.

[2020-12-22 14:05] v-prsasa commented on #87
@v-robgi  Could you please look into this issue?

[2020-12-23 02:15] hjerezmsft opened #88 "Dev-Tools-Pack vundefined error"
Dev tools pack installation fails with below issues including Azure ML problems.

  installer version: undefined
  env:
[code]
  log:
[code]

[2020-12-23 07:11] jamhamlee commented on #78
I changed my user type to OWNER, then I finished the onboarding. Hope this help.

[2020-12-23 09:36] v-prsasa commented on #88
@v-robgi - Need your advice on the mentioned issue.

[2020-12-23 09:38] v-prsasa commented on #81
Closing this case as new ticket of this has generated. Please follow up there.

[2020-12-23 09:38] #81 closed

[2020-12-23 23:50] mikelor opened #89 "Project Santa Cruz Onboarding - Incorrect Screen Grabs for Step 8"
The screenshot shown in Step 8 of [Project Santa Cruz onboarding](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/azure-subscription-onboarding.md) shows a [screen shot](https://github.com/microsoft/Project-Santa-Cruz-Private-Preview/blob/main/user-guides/getting_started/getting_started_images/onboarding_dps_adu.png) that is different than the current

[2020-12-24 00:11] mikelor commented on #89
After setting up the Device Provisioning Service by selecting [Next], I am presented with another step that does not correspond to Step 8.

Set ADU Service
![image](https://user-images.githubusercontent.com/341942/103045053-d5f43000-4537-11eb-984a-339d3af5017d.png)

After selecting [Next] on the above screen, I am presented with the screen below

Set Automatic Import Update Service
![image](https:

[2020-12-25 00:26] elqu20 commented on #78
This is now documented in the Known Issues article (https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/known-issues.md). Please try the workaround listed.

[2020-12-28 02:51] MS-Nikunja commented on #89
Hi @elqu20, can you look into this.

[2020-12-28 18:14] mikelor opened #91 "Notebook in Advanced Development w/Azure Machine Learning - Setting Up the GPU for Tensorflow 1.15"
I'm working through the [Getting started with advanced development in the cloud via Jupyter Notebooks and Azure Machine Learning](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/Sample-Scripts-and-Notebooks/Official/Machine%20Learning%20Notebooks/advanced_development_cloud.md) cloud scenario and have found a few problems with the notebook.

Problem 1 - Uninstall of Tensorflow fai

[2020-12-28 18:21] v-iskha commented on #91
@elqu20 - Need your help on this issue. Thanks.

[2020-12-28 18:47] elqu20 commented on #91
I think this is a question for @tsampige and/or @MaxStrange

[2020-12-28 21:22] ozhernan opened #92 "steps 4 - 8 images are very small"
in https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/ota_update.md

in steps 4 to 8 images atre very small and is very hard to see them

[2020-12-28 21:29] v-iskha commented on #92
@elqu20 - Hi Elena, there are few images which are very small and not clearly visible under ota_update page.

[2020-12-29 01:22] elqu20 commented on #92
fixed

[2020-12-29 01:22] #92 closed

[2020-12-29 16:22] mikelor opened #93 "Claim Device Fails with "Invalid Device Id" when entering exact GUID (including m:)"
I'm attempting to register my Santa Cruz DevKit Device using the instructions found [here](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/register_your_device.md)

When I enter my Hardware ID on the [Project Santa Cruz page](https://projectsantacruz.microsoft.com/ClaimDevice), I get an "Invalid Device Id" error when entering the Device ID returned in

[2020-12-29 18:05] elqu20 commented on #93
Fixed image url.

[2020-12-29 18:08] elqu20 commented on #93
I think this is a question for @ikhapova.

[2020-12-30 16:10] mikelor commented on #91
Just an update on this.  When I got to the "Run tensorflow fine tuning training" step in the notebook it ran for about 36 hours. :)
Probably because it didn't recognize the GPU and used CPU Training.
[code]
I captured the output from the run that shows no GPU's were recognized. :(

[code]

I'm wondering if I should have just uninstalled the cudatoolkit and then reinstalled the 10.0 version. But I

[2020-12-30 16:57] mikelor commented on #91
So I completed the Advanced tutorial and will fill out the questionnaire. Did it work? I don't know.

I did have to correct the following cell. It has a typo.  There's a bang (!) inserted in the "rm -rf bl!ob", and no bang in front of the "mkdir" are you accepting pull requests for these? LMK and I'll create one.
[code]

My Azure Eye appears to recognize the same objects as before, although the tw

[2020-12-31 22:10] elqu20 commented on #82
Updated. Thanks for the heads-up!

[2020-12-31 22:10] #82 closed

[2021-01-04 22:53] ozhernan opened #94 "cable not supplied"
In https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md
in Method 2 Step 8 says that the usb-c to usb-A cable is supplied, that cable doesn't come with the dev kit (at least not with mine), also a picture showing the connection would be very useful.

[2021-01-04 23:35] dillten opened #95 "HSM Failure on Device Registration"
Following the OOBE instructions to register the device with IoT Hub, once the Azure login is complete in the OOBE and the IoT Hub has been selected, the "Finalizing the Setup" page runs infinitely.

Running the logs on edgeAgent shows the following error:

[code]

The device is showing in the Azure portal but is not reporting status and will not receive updates.

[2021-01-05 00:22] mimcco commented on #85
assigning to @elqu20

[2021-01-05 00:54] mimcco commented on #94
Following up with Oz offline. If anyone else did not receive a USB A to USB C cable with their dev kit, send email to aedppsup@microsoft.com.

[2021-01-05 00:59] KStClair72 commented on #87
Hi @ncgregpruett, the AIVisionDevKitGetStartedModule is for ARM32 architecture and Santa Cruz devkit is ARM64. Even if it would run it wouldn't work, because it's meant for different HW.  Thank you.

[2021-01-05 00:59] #87 closed

[2021-01-05 01:12] mimcco commented on #94
It is by design that dev kits do not include USB A to USB C cables. @elqu20, please update the documentation to make that more clear.

[2021-01-05 01:28] elqu20 commented on #94
Documentation has been updated.

[2021-01-05 01:28] #94 closed

[2021-01-05 18:05] SillyKeith commented on #95
Can you see if restarting the iotedge service (possibly twice) resolves this for you?

`systemctl restart iotedge`

Could you also tell us what build you are using by sending us the output of these two files?
[code]

[2021-01-05 20:13] ozhernan opened #96 "documentation not clear"
In https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md

it is not clear where the user is supposed to see the error messages in the table "Common error messages"

[2021-01-05 20:18] v-iskha commented on #96
@elqu20 - Hi Elena, please have a look into this.

[2021-01-05 22:12] mimcco commented on #93
Hi @mikelor - the fact your device ID begins with "m:" indicates there may be an issue with the TPM on the device. Do you consistently get a GUID that starts with "m:" when you run the "azure-device-health-id" command?

[2021-01-06 01:06] elqu20 commented on #93
The documentation has been updated to reflect that the  GUID must start with "t:".

[2021-01-06 13:08] MatthijsvdVeer commented on #78
@v-prsasa that did the trick. Unregistering and re-registering resolved the issue.

[2021-01-06 13:08] #78 closed

[2021-01-06 16:40] dillten commented on #95
Restart did not resolve.

[code]
$ cat /etc/adu-version
2020.110.114.105
[code]
Jan 06 16:39:50 scz-b27c545fe39e iotedged[28594]: 2021-01-06T16:39:50Z [INFO] - Pulling image mcr.microsoft.com/azureiotedge-agent:1.0.9.2...
Jan 06 16:39:50 scz-b27c545fe39e iotedged[28594]: 2021-01-06T16:39:50Z [INFO] - Successfully pulled image mcr.microsoft.com/azureiotedge-agent:1.0.9.2
Jan 06 16:39:50 scz-b27c545

[2021-01-06 16:48] dillten commented on #95
I was able to work around the issue by forcefully removing all of the preloaded docker images, thereby requiring new ones to be pulled at startup.

[2021-01-06 16:48] #95 closed

[2021-01-06 20:29] mikelor commented on #93
Weird, I now consistently get a t: and the GUID is different than what I was getting before.
I also see that the documentation has been updated to reflect that it must start with a t:

Let me know if you need more information, otherwise this issue can be closed.

[2021-01-06 20:43] mimcco commented on #93
Thanks for checking again. The fact that it is a completely different GUID is expected. Please try using that GUID on the Claimed Devices page/process.

When we get a device ID that does not start with "t:", it indicates that the TPM is not detected on the device. So we're very interested in investigating whenever that happens. Thanks!

[2021-01-06 23:58] mikelor commented on #93
Okay, it worked. I was able to use the t:GUID and get the device registered. If it occurs again, I'll follow the updated instructions per changes made by @elqu20 to this [page](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/register_your_device.md)

"If your GUID starts with "m:" or another character, please contact aedppsup@microsoft.com for support.

[2021-01-07 00:09] elqu20 commented on #89
Documentation has been updated. Thanks for the heads-up!

[2021-01-07 00:09] #89 closed

[2021-01-07 00:49] elqu20 commented on #85
Documentation has been updated with additional serial connection guidance.

In regards to SSH, you do not need to complete OOBE to SSH into your device. OOBE allows you to create an SSH login (which is optional), but you may still log in to your device through SSH as root.

[2021-01-07 00:49] #85 closed

[2021-01-08 17:16] elqu20 commented on #96
Investigation is in progress.

[2021-01-08 21:44] KStClair72 commented on #91
Hi @mikelor, I checked with the product owner for this, and it sounds like a fix for this issue has been deployed.  Do you mind trying to run it again to see if you get the same error?  Thank you!

[2021-01-08 22:21] jimbobbennett opened #98 "Error: Could not retrieve your IoT Hubs when getting IoT Hubs"
When working through the OOBE, on step 10 when the device is looking for IoT Hubs, instead of finding any hubs, it gives an error and only give the **Create a new Azure IoT Hub** option.

![Screenshot 2021-01-08 142035](https://user-images.githubusercontent.com/1710385/104070877-c2de9280-51bc-11eb-9a2c-22660fe24e96.png)

Even repeated refreshing of the page by going back and forward gives the same

[2021-01-08 23:07] jimbobbennett opened #99 "View stream button in the portal doesn't work"
From the Azure Portal, select the device from the Santa Cruz blade, and try to view the stream by clicking the *View Stream* button.

Nothing happens.

The other 3 buttons on the page work.

There is an info bar about ensuring the device is on the same network, but it is and I can connect using the devices IP address on my WiFi.

![Screenshot 2021-01-08 150510](https://user-images.githubuserconten

[2021-01-08 23:56] jimbobbennett commented on #99
Going to close this - it's related to manually creating an edge device and using it due to the Hub detection not working.

[2021-01-09 22:35] jimbobbennett opened #101 "Unable to get commands error when using custom commands"
I'm trying to create a voice assistant. When I do I get an error popup in the Azure portal saying *Unable to get commands* and the **Command** dropdown shows *No custom commands found* despite me having custom commands.

If I try to refresh this list, I get the same error.

![Screenshot 2021-01-09 143126](https://user-images.githubusercontent.com/1710385/104109974-f63a2380-5287-11eb-894c-1ea38c61c

[2021-01-09 22:42] jimbobbennett commented on #101
I also get the same error if I try to change the command the in device configuration.

![Screenshot 2021-01-09 143706](https://user-images.githubusercontent.com/1710385/104109990-30a3c080-5288-11eb-90c4-6d6baeee4a72.png)

[2021-01-09 22:46] jimbobbennett commented on #101
The commands are all listed however from the *AI Projects->Speech* blade in the *Commands* tab.

![Screenshot 2021-01-09 144527](https://user-images.githubusercontent.com/1710385/104110131-65644780-5289-11eb-8dcb-7a580aa854fa.png)

[2021-01-11 08:35] MS-Nikunja commented on #101
Hi @jimbobbennett , did you follow the steps in this link: https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/prototyping/how-tos/speech/voice-assistant-config.md? You can refer the steps mentioned under "**Commands configuration**. Let us know if you still get an error after following these steps.

[2021-01-11 08:59] MS-Nikunja commented on #98
Hi @jimbobbennett, could you try again? It generally takes some time to create and activate IoT Hub. There may be a possibility that the IoT Hub was not activated when you were performing OOBE steps.

[2021-01-11 17:23] KStClair72 commented on #99
Hi @jimbobbennett , we are reopening this to investigate further.  Thank you.

[2021-01-11 18:24] jimbobbennett commented on #99
I don't think this is a bug. I've been having problems with the onboarding detecting my IoT Hubs, so I created an edge device manually in the IoT Hub and used the connection string for the edge device to configure the Santa Cruz device. This edge device didn't have the required edge modules on it, hence why the portal couldn't show the live stream as there was no edge module to service it.

Maybe

[2021-01-11 18:26] jimbobbennett commented on #98
I'd worked through the steps completely, including configuring the device update service and connecting to AAD, and I could see the IoT Hub in the Azure Portal.

I also have a number of other IoT Hubs that have been around for over a year that it should have detected.

I tried repeatedly over the weekend, and was getting the same issue a few weeks ago when I first tried the setup.

[2021-01-11 18:27] jimbobbennett commented on #101
Yes - I was following those steps.

[2021-01-11 18:51] jimbobbennett opened #102 "Enhancement request - make it easier to capture images"
Some enhancement suggestions to make it easier to capture images to train models:

* With the auto capture, provide some kind of feedback before and after the image is captured. For example, I used the 5 second capture of 25 images to capture a range of pictures of an item in a few positions, but some if them had my hand in the shot as I was moving the items being photographed. It would be easier

[2021-01-11 19:50] jimbobbennett opened #103 "Difference in model ratings between custom vision and santa cruz"
I've trained a model using images captured from my Santa Cruz device. When I look at the values for precision, recall and mAP in the Custom Vision portal and the Santa Cruz portal I get different results for recall - 100% vs 89%.

Not sure if this is an issue in the Santa Cruz portal or the Custom Vision portal.

**Custom Vision**

![Screenshot 2021-01-11 114545](https://user-images.githubusercont

[2021-01-11 19:54] jimbobbennett opened #104 "No live stream with a deployed model."
I've been working through the guide to deploy a custom vision model to my Santa Cruz device.

Whilst it's deploying I can see alive stream through the Webstream Video page, with text saying it's deploying the model, converting the model, loading the model etc.

Once deployed all I get is a black screen:

![Screenshot 2021-01-11 115333](https://user-images.githubusercontent.com/1710385/104231339-a7

[2021-01-11 19:58] elqu20 commented on #103
I experienced the same issue as well.

[2021-01-11 20:03] elqu20 commented on #99
I didn't manually create an edge device, but I have also been unable to view my device stream through that portal link. The only time I have been able to see the stream was through the link at the end of OOBE (when connected to the SoftAP).

[2021-01-11 20:45] SillyKeith commented on #98
Has this flow ever worked for you and shown IoTHubs in OOBE?  Some tenants have a security setting in place that block devices from acting on behalf of users -> They are unable to use "Device Codes".    If you have a second free azure iot account, does it work for that?

[2021-01-11 22:26] v-robgi commented on #88
This has been fixed internally. Build should be available with the fix by EOD,

[2021-01-11 22:26] #88 closed

[2021-01-12 00:06] ozhernan opened #105 "no SD card in the devkit"
In https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md

In method #3 the doc says "remove the SD card" the devkit does include an SD card so this is not needed

DIP switches access is impossible without removingg the aluminum case. We need instructions to properly disassembly the dev kit without damaging the antennas cables

[2021-01-12 18:01] elqu20 commented on #105
Investigation in progress.

[2021-01-13 20:39] WendyAnn0079 commented on #98
We believe this is due to the account that was used to sign in with.  Working with Jim to fully troubleshoot and resolve the issue.

[2021-01-13 20:39] #98 closed

[2021-01-21 01:15] Vivihung opened #112 "Cannot do USB update method #3: non-standard situations"
Following the steps of [this](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/7bee53f6d72ddb998d55db599cd972c5f22e9d5a/user-guides/updating/usb_updating.md#usb-update-method-3-non-standard-situations) document.

Note: I lost the root password, therefore USB update with no sudo command is my only option...

Hit two issues:
1. There is no SD card on the board (Known issue #105 ) => skip

[2021-01-21 01:34] Vivihung commented on #72
I hit the same error the other day. As the thread mentioned, t's due to the root password is expired and is required to changed.
Once you have configure the wifi of the device, you can use your laptop to connect to the SoftAP, then use Putty to SSH login to the device (10.1.1.1) via the root account (with the default password).
Change the root password. Reference post [here](https://www.cyberciti.

[2021-01-21 02:41] elqu20 commented on #112
@alexakesson-MSFT is there a workaround for this issue?

[2021-01-21 02:48] elqu20 commented on #105
Some early iterations of the devkit contained an SD card, but the vast majority of users have a newer iteration that does not contain a card. The documentation will be updated to reflect this.

[2021-01-21 03:22] elqu20 commented on #96
The documentation has been updated with the following guidance on accessing error messages:

To access error messages after attempting an update, SSH into your device after it has rebooted and enter "journalctl -xe -u usb-update" in the PuTTY terminal. This will show all logs from usb-update, from newest to oldest. However, as a first step, we recommend verifying the update by checking the image v

[2021-01-21 03:22] #96 closed

[2021-01-21 17:44] Neurotaur opened #113 "IoT Edge"

[2021-01-21 17:50] #113 closed

[2021-01-21 17:54] Neurotaur opened #114 "Deployment information could not be retrieved"
Error in Azure Portal when We try to list the Santa Cruz SDK IoT Devices
![AzurePortalError](https://user-images.githubusercontent.com/6352684/105391107-637e7a80-5bdf-11eb-8569-e61550fd76af.png)

[2021-01-21 17:56] Neurotaur commented on #114
Related Notification: "undefined is not an object (evaluating 'n.responseObject.message')

[2021-01-22 21:02] alexakesson-MSFT commented on #112
@elqu20 Thank you for bringing this to our attention; this is a new issue. Investigation is ongoing. + @SillyKeith and @kalpesh94

[2021-01-22 22:39] SillyKeith commented on #112
please set the dip switches to 0101 and see if it works for you.  There were HW & firmware revisions that we were not aware of that modified our previous methods.  Setting to 0101 is what our HW team said should work.
Please report back
Thx

[2021-01-22 23:22] Vivihung commented on #112
Using DIP switch with 0101 works! Thank for the prompt help!
![image](https://user-images.githubusercontent.com/4814277/105557890-2808ac80-5cc2-11eb-8c7b-768192e5b2e3.png)

[2021-01-23 00:04] SillyKeith commented on #112
glad to hear!  Don't forget to switch them back after the update finishes.
Toggle the DIP switches to eMMC boot mode (1001).
We'll update the docs.

[2021-01-23 00:06] Vivihung opened #115 "OOBE - Name your IoT device step failed with TPM error"
Following the [OOBE document](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md#oobe-procedure), hit TPM error at step 13:

![image](https://user-images.githubusercontent.com/4814277/105561247-0fe95b00-5ccb-11eb-9404-1ff50d0c48a3.png)

If hit the "Next" button the 2nd time, the error changed to
![image](https://user-images.githubusercontent.com/4

[2021-01-23 00:10] #112 closed

[2021-01-23 00:21] Vivihung commented on #115
Note:
Since the device is not configured correctly, I reconnect the device with Azure with the created device's connection string (got the connection string from Azure IoT extension of Azure CLI) via go over the OOBE again:
[The 2nd button]
![image](https://user-images.githubusercontent.com/4814277/105561787-acf8c380-5ccc-11eb-9c27-a3252b31f831.png)

The wizard told the configuration is completed

[2021-01-23 00:39] Vivihung commented on #115
I unblock myself by not checking the TPM enrollment checkbox.
Finally see the setup complete UI!

This is what I see in the Azure IoT Hub portal
![image](https://user-images.githubusercontent.com/4814277/105562705-1e864100-5cd0-11eb-86dc-6410aa62de7e.png)

This brings up another question... why setup with existing device via connection string shows the setup complete but actually the  device does

[2021-01-23 00:56] WendyAnn0079 commented on #114
Hello - did you setup the device in ADU and go through OOBE?

[2021-01-25 17:01] WendyAnn0079 commented on #115
Hello - thanks for reaching out -
1. When you went the "Connect a New Device" route, did you select an IoT Hub that is linked to a DPS instance?  If you don't have an IoT Hub that is linked to a DPS instance, TPM enrollment will fail.  The TPM box should be greyed out so you don't have the option to select it.  I will investigate what is happening - thanks for bringing this to our attention.
2. If

[2021-01-25 17:24] Vivihung commented on #115
@WendyAnn0079
1. No, the IoT Hub I selected didn't link to a DPS instance. It's a new IoT Hub that I just created for Santa Cruz. Since the onboarding document doesn't have any step for DPS, I believe my IoT Hub isn't linked to a DPS instance.
2. Do you mean this is expected?
=>"Connect with an existing Connection String" will not install any module.

[2021-01-25 17:43] WendyAnn0079 commented on #115
@Vivihung
1. Thank you, a bug has been filed and we will update the on-boarding documentation as well.
2. Yes, going the Existing Connection String route will not install modules (as expected).  If you are going this route, it is expected that you have already installed the modules and you are just installing a new IoT device.

[2021-01-25 18:30] Neurotaur commented on #114
It is working fine right now.
May be a problem in Azure Portal?

[2021-01-25 18:42] WendyAnn0079 commented on #114
@Neurotaur okay great, please let us know if you have see the problem again.

[2021-01-26 15:36] Neurotaur opened #116 "Failure Sending Device To Cloud Messages at Device Boot"
Device to cloud messages from iotEdge Modules are received only after manually restart iotedge process.

### System Version
[code]

## Before Restart
### Checks
[code]
### edgeAgent Logs

[code]

### edgeHub Log
[code]
## After restart

[code]
### edgeAgent Log
[code]

[2021-01-26 23:02] elqu20 commented on #105
Closing this issue for now.

A separate internal investigation is in progress regarding the devkit disassembly. I will post an update when new documentation is live.

[2021-01-26 23:02] #105 closed

[2021-01-27 00:31] KStClair72 commented on #116
@Neurotaur this is a known issue that we hope to resolve soon.  You can track this issue here (6 down from the top):
https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/known-issues.md

Thank you for your feedback and providing the logs.

[2021-01-28 21:11] WendyAnn0079 commented on #72
Hello Everyone

We have addressed this issue in the most recent builds.  Please go through ADU and the issue will be fixed.
Thank you.

[2021-02-01 18:11] Vivihung opened #118 "Doc improvement: Azure subscription setup failed with forbidden error"
This is a documentation improvement suggestion.

While [setup the Azure subscription](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/azure-subscription-onboarding.md) for Santa Cruz devkit, in the steps of DPS and ADU, it's good the wizard detects there are changes need to be made in the subscription level:
![image](https://user-images.githubuserconte

[2021-02-01 18:22] Vivihung opened #119 "Setup Azure subscription UI freeze if unchecked ADU"
UX improvement suggestion.

Following [this](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/azure-subscription-onboarding.md) doc to setup Azure subscription for my Santa Cruz devkit.

Repro steps:

1. In the ADU step, **unchecked** the ADU checkbox and click on the "Next" button.
2. See two error messages on the AIU page: a) configure ADU error messa

[2021-02-01 19:26] v-iskha commented on #118
@elqu20 - Hi Elena, for your action. Thanks.

[2021-02-01 19:49] elqu20 commented on #118
Investigation in progress.

[2021-02-02 01:09] Vivihung opened #120 "Custom vision model got reverted to the built-in one if power off the device"
I'm not sure it's by design or it's a bug.
But I found the custom vision model I deployed to the Azure Eye is reverted to the built-in one after I power off the Santa Cruz.
The custom model is trained and deployed to the device via Custom Vision website.
I power off the Santa Cruz kit by pressing the power button on the side of the carrier board. Once the lights on the device are off, I unplug the

[2021-02-03 07:51] suhairliyakath opened #121 "unable to access the videos"
unable to access the videos

[2021-02-03 07:54] v-prsasa commented on #121
@suhairliyakath Could you please share us the error you are facing while accessing the video?

[2021-02-03 19:47] saleung opened #122 "Enabling (AIU) Error - "...provided Application ID does not meet requirements""
After following the [AIU setup guide](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/automatic_import_of_updates.md), I encounter this error:

![image](https://user-images.githubusercontent.com/57814189/106800137-1615fa80-662e-11eb-8d08-5ad1803dda96.png)

I was able to create an App Registration, upload the certificate, assign roles, etc. but I am stuck on t

[2021-02-03 22:21] saleung commented on #122
Disregard, this error was encountered during the following maintenance period and is now working as of this post:

[2021-02-03 22:21] #122 closed

[2021-02-05 17:30] mimcco commented on #121
Hi Suhair - we've granted you access to the Teams channel which should give you access to all the videos. Thanks!

[2021-02-05 17:30] #121 closed

[2021-02-05 17:40] mimcco commented on #120
@tsampige - can you take a look?

[2021-02-05 17:43] #116 closed

[2021-02-06 18:18] #114 closed

[2021-02-06 18:34] v-iskha commented on #72
@uriel-kluk , @MatthijsvdVeer , @Vivihung - Could you please confirm if the issue is resolved for you.

[2021-02-06 18:36] v-iskha commented on #91
@mikelor - Hello, since we have not heard from you, we assume the issue is fixed.

[2021-02-06 18:36] #91 closed

[2021-02-06 18:37] #93 closed

[2021-02-07 01:40] uriel-kluk commented on #72
Yes it is fixed, Thanks!

On Sat, Feb 6, 2021 at 12:34 PM v-iskha <notifications@github.com> wrote:

--
*Uri Kluk**, CTO*

*An IoT Solutions Innovator*

p: 317.661.4800
w: mesh-systems.com
<https://www.linkedin.com/company/mesh-systems-llc>

[2021-02-09 20:14] #72 closed

[2021-02-10 13:22] XavierGeerinck commented on #104
I had the same issue, was due to an Assertion error that made the module exit too early

Could fix it here by plugging in the Eye board again and restarting the container through SSH

Error

[code]

[2021-02-11 20:46] balakreshnan opened #135 "Device completely broken after firmware update"
Hi All,

I downloaded the latest firmware and updated using USB cable and followed the https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md. After upload is completed i removed the power and then disconnected the USC C cable and power back the device and now i see the lights not cannot see SoftAP wireless nor the device is connected to my wifi any

[2021-02-11 21:02] v-iskha commented on #135
@kalpesh94 - Could you please look into this issue. Thanks.

[2021-02-17 17:33] mikelor opened #137 "Feature Request - Project Santa Cruz Portal / Remove Old Santa Cruz Instances from Drop Down"
The current version of the [Project Santa Cruz Portal](https://projectsantacruz.microsoft.com/) does not allow the ability to "remove" an instance, even if the resources and resource group have been deleted in the portal.

Why is this useful: I've stepped through initializing my devkit multiple times in an effort to automate as much as possible, however, these old instances still show up in the po

[2021-02-17 17:42] mikelor opened #138 "Feature Request - Support for Automation / ARM Templates / Deployment Scripts"
I'm attempting to automate the setup for an instance of a Santa Cruz environment as much as possible utilizing Project Bicep and the Azure Cli.

So far, I've been able to automate the IoT Hub and ProvisioningServices resources but have hit a snag with the "Device Update for IoT Hub" resource. When I attempt to "Export the Template", I get an error. Most likely due to this service still being in pr

[2021-02-17 17:51] v-iskha commented on #137
@tsampige - It looks like feature enhancement request.

[2021-02-17 17:54] v-iskha commented on #138
@tsampige - This also looks like feature enhancement request.

[2021-02-17 19:36] elqu20 commented on #118
Documentation has been updated.

[2021-02-17 19:36] #118 closed

[2021-02-18 15:44] mikelor opened #139 "Device Update - Deployment Still Running after 24 Hours, DevKit Appears to be Broken"
I attempted to update my DevKit to 2021.101.106.118 from 2020.108.101.105

I followed the [Carrier board (devkit) OS OTA updating](https://github.com/microsoft/Project-Santa-Cruz-Private-Preview/blob/main/user-guides/updating/ota_update.md) instructions.

It has been over 24 hours with the deployment remaining in the active state.
After 12 Hours, the deployment had not completed and the LED was bl

[2021-02-18 16:52] v-iskha commented on #139
@mikelor - This is a known issue. Have you tried the solution -

To recover your user profiles, preform these steps after the OTA update:
SSH into your devkit using “root” as the username. If you disabled the SSH “root” user login via OOBE, you must re-enable it. Run this command after successfully connecting:
mkdir -p /var/custom-configs/home; chmod 755 /var/custom-configs/home
To recover previou

[2021-02-18 18:33] mikelor commented on #139
Yes. I did that, but I am unable to login to my previous profile. This could be due to the fact that I am not typing my credentials correctly, but I'm 99% sure I am. I can still login as root. I'm unable to create a new profile, because the OOBE does not work.

[2021-02-18 18:37] v-iskha commented on #139
@EthanChangAED - Could you please have a look into this. Mike is able to login as root but not able to create a new profile because of OOBE.

[2021-02-18 18:40] v-iskha commented on #137
@ikhapova - Could you please have a look into this. The current version of the Project Santa Cruz Portal does not allow the ability to "remove" an instance, even if the resources and resource group have been deleted in the portal.

[2021-02-18 23:45] mikelor commented on #139
An update on this. I was able to update to 2021.101.106.118 using the [USB update method #2: NXP UUU tool](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md#usb-update-method-2-nxp-uuu-tool) method.

After reboot I do the following
[code]
It returns 2021.101.106.118

However when I navigate to http:/10.1.1.1 I get a 502 Bad Gateway nginx/1.16.1

[2021-02-19 23:47] mikelor commented on #139
Ok, so I'm getting a little bit further, I'm able to run the OOBE
However it's a bit flaky

[code]

I am also getting this on the IoTHub
![image](https://user-images.githubusercontent.com/341942/108573527-b2e0c500-72c9-11eb-9a20-61169ce49e66.png)

[2021-02-19 23:57] mikelor commented on #139
Is there a way to "reset"?

[2021-02-20 06:44] mikelor commented on #139
Last update. I have it in a somewhat working state, but I don't think it's ideal.
1. It now connects to the IoTHub
2. 10.1.1.1 Brings Up the OOBE
3. When connected to the scz-wifi, I was not getting DNS resolution on my Windows computer. I had to switch from DCHP configuration to manual configuration of DNS and point to 8.8.8.8/8.8.4.4
4. LED01 - Is Off
5. LED02 - Is On Solid

I can view the Video

[2021-02-20 06:47] mikelor commented on #135
@balakreshnan take a look at my issue #139

I've got it somewhat recovered after updating to the latest firmware.

[2021-02-23 01:46] KijoKim76 opened #142 "During onboarding, failing on "Create IoT Hub" with Microsoft employee account."
Hi

I have got an issue "internal server error has occurred while creating a new Iot Hub." on Create IoT Hub phase. Do we have any server side error?

![image](https://user-images.githubusercontent.com/20589866/108792312-4fee7700-75c4-11eb-9de4-a92ba8f5c422.png)

[2021-02-23 08:28] MS-Nikunja commented on #142
Hi @KijoKim76, We just got an update that “onboarding of Azure subscription” is no longer needed to use the Dev Kit. Visit https://github.com/microsoft/Project-Santa-Cruz-Preview for any updates on Santa Cruz device.

[2021-02-23 12:40] glogemann commented on #104
Same issue here :  looks like the AzureEye module crashes after a wihile (about 30sec.)
![image](https://user-images.githubusercontent.com/9800738/108844057-dcf0fa80-75db-11eb-9064-7d23a5094991.png)

![image](https://user-images.githubusercontent.com/9800738/108844330-45d87280-75dc-11eb-8856-4a6f438597a6.png)

![image](https://user-images.githubusercontent.com/9800738/108844589-99e35700-75dc-11eb-

[2021-02-23 15:51] mikelor opened #143 "Santa Cruz Portal - Updating Eye/Ear SOM Firmware - What Version?"
I'm using the the [Santa Cruz Portal](https://projectsantacruz.microsoft.com) to update the Eye/Ear SOM Firmware. However when I go to select which version to update to it's unclear. Is it 9, 10, or 100. :)

See screenshot below for current experience.

![image](https://user-images.githubusercontent.com/341942/108869285-e5c9d800-75ab-11eb-85c1-0bfde0709bf3.png)

[2021-02-23 15:54] v-prsasa commented on #143
@kalpesh94 Could you please look into this issue. Thanks.

[2021-02-23 16:20] v-prsasa commented on #143
@EthanChangAED Could you please look into this?

[2021-02-23 17:09] v-prsasa commented on #99
Seems the customer got the device into a bad state but was able to resolve the issue. Hence closing the issue.

[2021-02-23 17:09] #99 closed

[2021-02-23 17:21] mimcco commented on #137
@mikelor thanks for this feedback. The good news is that we no longer require users to go through this portal to configure their Azure environment. You should be able to proceed with using the dev kit. Let us know if you experience any other issues.

[2021-02-23 17:21] #137 closed

[2021-02-23 17:27] mimcco commented on #138
Hi @mikelor the Azure Device Update service is still in "private preview" so it is expected that you would have trouble accessing it directly. It is for this reason we stood up the onboarding portal, as a way to  add the Update Service to IoTHubs. We expect the Update service to be public soon. We will let you know when it is available.

[2021-02-23 17:27] #138 closed

[2021-02-23 17:34] v-prsasa commented on #101
Hi @jimbobbennett  This bug is found in dog food environment. I was able to reproduce this now. It loads perfectly fine on portal.azure.com. Is there any restriction on dog-food?

Looks like this bug environment is df.

NoCommands.PNG

[2021-02-23 17:34] #101 closed

[2021-02-23 18:33] mikelor commented on #137
Thanks @mimcco
Maybe I'm missing something, but how do we add Azure Device Update (ADU) to our IoTHub? This was done via the portal. When I look at "Device Updates" in the header, it points to a link [Account Settings](https://projectsantacruz.microsoft.com/Summary)

So is ADU configured another way? Given that I can't do this via ARM (See #138), I don't see any other way to do this except via the

[2021-02-23 21:51] kirk-marple opened #144 "Failing to setup ADU"
I'm running into this same issue creating ADU account:
[Similar Issue](https://github.com/microsoft/Project-Santa-Cruz-Preview/issues/78)

I've made sure I'm an owner role in the subscription.  I've unregistered and re-registered Microsoft.DeviceUpdates resource provider, and run the REST API command to enable PublicPreview.

Pretty stumped right now on what to do next...?

[2021-02-23 21:55] v-iskha commented on #144
@kirk-marple - We no longer require users to go through "Santa Cruz Private Preview" portal to configure their Azure environment. You should be able to proceed with using the dev kit. Let us know if you experience any other issues.

[2021-02-23 22:21] glogemann opened #145 "Strange behavior of the two dev kits i received today"
Currently i'm facing an issue that the two devices i received today are not behaving as described in the documentation.
on both devices the LED's on the compute unit are constantly off. only the power button is illuminated when the device is running

SOFT AP seems to be working and OOBE works as well so it deploys and configures IOT Edge with the right names correctly but i got different results.

[2021-02-23 23:09] kirk-marple commented on #144
Thanks - and maybe I just didn't wait long enough, just tried it again and it worked :)  Closing this issue.

[2021-02-23 23:09] #144 closed

[2021-02-24 15:07] v-prsasa commented on #115
Possibly due to an older build, internet connection or due to not selecting an IoT Hub with a DPS instance. Hence, closing this issue.

[2021-02-24 15:07] #115 closed

[2021-02-25 23:59] bgulseren opened #146 "Telemetry message coming from Eye is missing content type and encoding"
I am experimenting with Santa Cruz Eye and trying to get the object detection data passed into a Digital Twin. In the Azure IoT Explorer, the telemetry message I am receiving from Santa Cruz Eye is including object/face detected in the body properly, as below.

[code]

However, when using the Azure function to process the same body data coming from Eye, it comes in Base64 and needs to be decoded.

[2021-02-26 02:50] KijoKim76 opened #147 "ssh remot login account creation fail"
why this is failed? I could completed setup by skipping but like to know why it fails

"Command failed:...... PAM: Authentication token is no longer valid: new one required"

![image](https://user-images.githubusercontent.com/20589866/109248214-ba9fec80-7828-11eb-9763-58ea7f2acb1b.png)

[2021-02-26 03:16] v-iskha commented on #147
@KijoKim76 - Please go to the root login and change the password. Once the root password is changed you will be able to change the SSH password.

To recover your user profiles, preform these steps after the OTA update:
[SSH into your devkit](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/ssh_and_serial_connection_setup.md) using “root” as the

[2021-02-26 18:40] saleung commented on #139
It looks like I'm encountering the same issue performing an OTA update from 2020.110.114.105 to 2021.101.106.118. It has been nearly 2 hours since the update started (not sure how long it takes).

- Azure Ear L01 light is steady, L02 light blinking, L03 light off.
- Dev board power light is steady, with intermittent flickers.
- 10.1.1.1:22 accessible by SSH
- OOBE inaccessible at http://10.1.1.1/,

[2021-02-26 18:54] saleung opened #149 "Stuck in firmware deployment of PE-101 Version 2021.101.106.118"
It looks like I'm encountering the same issue performing an OTA update from 2020.110.114.105 to 2021.101.106.118. It has been nearly 2 hours since the update started (not sure how long it takes).

- Azure Ear L01 light is steady, L02 light blinking, L03 light off.
- Dev board power light is steady, with intermittent flickers.
- 10.1.1.1:22 accessible by SSH
- OOBE inaccessible at http://10.1.1.1/,

[2021-02-26 18:56] saleung commented on #149
Referencing similar issues #139 and #135

[2021-02-26 21:38] v-iskha commented on #149
@saleung - Apologies for the inconvenience. Can you try updating the firmware using [USB method](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md)

[2021-02-27 21:14] mikelor commented on #143
Just bumping this. Seems like an easy answer. What's the latest version for Ear and Eye SOM...

[2021-03-01 15:41] v-iskha commented on #147
Closing as known issue.

[2021-03-01 15:41] #147 closed

[2021-03-01 16:34] v-iskha commented on #142
Closing as per comment from Nikunja

[2021-03-01 16:34] #142 closed

[2021-03-01 16:43] saleung commented on #149
The kit is now functioning and able to connect online to IoT Hub after power cycling through a hard shutdown by holding the power button and unplugging power. It appears my device hanged and froze after updating but I was hesitant to restart it for fear of corrupting the firmware installation.

I'm now unable to SSH into the device with my previously set credentials through root user. Is there a w

[2021-03-01 17:06] v-iskha commented on #149
It is known issue - After performing an update, users can no longer logon via SSH using previously created user accounts, and new SSH users cannot be created through OOBE.

To recover your user profiles, preform these steps after the OTA update:
[SSH into your devkit](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/ssh_and_serial_connection_set

[2021-03-01 23:53] saleung opened #151 "Cannot resolve Ear SoM LED L02 blinking"
I am trying out the speech modules but the Ear SoM is stuck in waiting for authentication to complete.
L01 is solid green but L02 is blinking green. Have tried restarting and power cycling but same state.

According to [Devkit setup](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/prototyping/nocode-speech.md#devkit-setup) it should take 3 minutes.

[2021-03-02 04:50] KijoKim76 opened #152 "Azure Free Subscription will also works"
Hi, I have got that onboarding phase is no longer necessary for devkit OOBE.
However, I'm wondering partners can proceed OOBE with free Azure account?

[2021-03-02 05:03] mikelor commented on #139
@saleung it looks like you went the same route as me and did the USB update to 2021.101.106.118.

Like you my DevKit was no longer authenticatin

I think this has something to do with it not authenticating correctly w/TPM after the update. I ended up deleting the Device from my IoTHub (IoTHub/Iot Edge/IoT Edge Devices/Delete).

I then hard reset (held the power button down) on the DevKit and start

[2021-03-02 05:54] mikelor commented on #152
@KijoKim76 I was just able to use my MSDN account that was never originally registered for the preview and it worked. So it's worth a try.

I created an Azure Template / Deploy Script for setting up the Azure Environment to make it really easy to spin up Azure Environments for testing. See https://github.com/mikelor/moclips

[2021-03-02 15:09] saleung commented on #139
I can attest to 'YMMV' haha. [My follow-up from](https://github.com/microsoft/Project-Santa-Cruz-Preview/issues/149#issuecomment-788095742) @149:

Did not need to update through USB, but still trying to regain SSH access. I'm wary of running through or changing anything in OOBE again since the modules are currently working as expected. Speech module now has all three LEDs a steady blue and is even

[2021-03-02 15:13] saleung commented on #151
Ear SoM now has all three LEDs a steady blue on startup after shutting down and leaving the device unplugged from power and the main dev board overnight. It is responsive and working with a voice assistant template demo.

[2021-03-02 15:13] #151 closed

[2021-03-02 23:36] v-iskha commented on #149
@saleung - As per your update on another Github issue (that the device is now working properly), do you want to close this issue as well. Please confirm.

[2021-03-03 01:11] saleung commented on #149
I'll put off restoring SSH access for now unless needed in the future. Resets and power cycling seem to solve most of the blocking behaviors.

[2021-03-03 01:11] #149 closed

[2021-03-04 15:21] kalpesh94 commented on #135
@balakreshnan : Is the device recovered?

[2021-03-04 15:25] kalpesh94 commented on #145
@glogemann : What is the specific error message for update. @alexakesson-MSFT, fyi.

[2021-03-04 15:27] kalpesh94 commented on #103
@ikhapova : Can you take a look?

[2021-03-04 22:01] ikhapova commented on #103
@jimbobbennett Thank you for feedback. The fix is being developed.

[2021-03-05 09:40] rploeg commented on #104
Running the latest firmware, but I also get a black screen (also after rebooting, unplug everything) when I try to see the webstream video. All my containers are running correctly:

![image](https://user-images.githubusercontent.com/49752333/110097264-1de8cc00-7d9f-11eb-8e04-f1a7f316b6da.png)

[2021-03-05 21:33] v-iskha commented on #102
@jimbobbennett - Thank you for sharing the feedback. Feature team are working on it and will do the needful.

[2021-03-05 21:33] #102 closed

[2021-03-05 21:34] #103 closed

[2021-03-05 21:36] v-iskha commented on #119
@Vivihung - This is to inform you that Azure Subscription is no longer needed to use the DevKit. Hence closing this issue.

[2021-03-05 21:36] #119 closed

[2021-03-05 21:42] v-iskha commented on #139
@mikelor - Just an update, we are working on an upgrade package that includes the public image plus updated firmware and step-by-step instructions on how to upgrade. We will revert back once it is available.

[2021-03-05 21:43] v-iskha commented on #143
@mikelor - Just an update, we are working on an upgrade package that includes the public image plus updated firmware and step-by-step instructions on how to upgrade. We will revert back once it is available.

[2021-03-05 21:45] v-iskha commented on #146
@bgulseren - Thank you for sharing the feedback. Feature team are working on it and will do the needful.

[2021-03-05 21:45] #146 closed

[2021-03-05 21:49] v-iskha commented on #152
@KijoKim76 - Yes, you can use a free Azure account. Please refer this [link](https://azure.microsoft.com/en-us/free/) to create your Azure free Account today.

[2021-03-05 21:49] #152 closed

[2021-03-08 16:08] amarrmb opened #155 "Is this repo going to be maintained going ahead?"
With the recent Azure percept announcement, is this repo going to be maintained going ahead or getting renamed into a more formal repo, or continuing to provide alpha/preview functionality?
Just want to understand the difference between this & other percept github repo like: https://github.com/microsoft/azure-percept-advanced-development

For someone who had access to the devkits and now also the

[2021-03-08 20:03] v-iskha commented on #155
@amarrmb - Yes this repo will continue to be active.

On the other hand the "Azure-Percept-Advanced-Development" repository should be considered to be in preview/beta. Significant portions of these experiences are subject to change without warning. No part of this code should be considered stable.

[2021-03-08 20:20] v-iskha commented on #104
@glogemann @jimbobbennett - If the runtime status of azureeyemodule is not listed as running, click Set modules -> azureeyemodule. On the Module Settings page, set Desired Status to running and click Update.

You can refer this [guide](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/vision_solution_troubleshooting.md#eye-module-troubleshooting-

[2021-03-08 20:25] v-iskha commented on #120
@Vivihung - Just checking the status on this issue. Also have you tried this [DiagTool](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/tools/DiagTool/diagtool_guide.md#diagtool-user-guide) to run the diagnostics.

[2021-03-08 21:23] tsampige commented on #120
@ikhapova can you have someone investigate this issue?

[2021-03-08 21:30] Vivihung commented on #120
@v-iskha, I can repro it every time I power off the device. (long press the power button on the SBC)
I haven't run the DiagTool. With what steps should I run the DiagTool? Turn on the kit and run it directly?

[2021-03-08 21:36] v-iskha commented on #120
@Vivihung - You can connect your devkit components and power on the carrier board. If your devkit is not connected to a Wi-Fi network (which is set up through OOBE) or a network over Ethernet, connect to your devkit's SoftAP hotspot.
You can refer the full guide [here](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/tools/DiagTool/diagtool_guide.md#diagtool-user-guide)

[2021-03-09 06:13] dfcarpenter opened #156 "Error creating DPS from https://projectsantacruz.microsoft.com/"
Here is the error message from my subscription's activity log JSON

`
 "{\"error\":{\"code\":\"HttpRequestPayloadAPISpecValidationFailed\",\"target\":\"Microsoft.DeviceUpdate/accounts/SCZd78aee32Adu680061/instances/SCZd78aee32AduInstance680061\",\"message\":\"HTTP request payload failed validation against API specification with one or more errors. Please see details for more information.\",\"detai

[2021-03-09 08:02] LiangJy123 opened #157 "eye module work with custom vision"
Hi ,
I have a question that after deploying the AI model on the eye module , I can't see the new result from the websteam video.
The websteam video is still showing the default evaluation.

I check the module twin and eye module logs , but  can't find any reaction when I deploy the AI model on eye module using the Azure Percept studio.

Can you offer some suggestions on how to troubleshoot this pr

[2021-03-09 10:58] v-prsasa commented on #157
@LiangJy123 You can go through this link for troubleshooting this problem-https://docs.microsoft.com/en-us/azure/azure-percept/troubleshoot-dev-kit.

[2021-03-09 17:06] v-iskha commented on #156
@dfcarpenter - Santa Cruz [portal](https://projectsantacruz.microsoft.com/) is no longer needed. So you might face some issues with the portal as well. For any guidance or support you can refer official Santa Cruz [GitHub](https://github.com/microsoft/Project-Santa-Cruz-Preview#welcome-to-the-project-santa-cruz-private-preview) channel.

[2021-03-09 17:10] #155 closed

[2021-03-11 07:58] v-iskha commented on #120
@Vivihung - Any progress.

[2021-03-11 08:01] v-iskha commented on #135
@mikelor - Any updates on the device after it got recovered.

[2021-03-11 08:04] v-iskha commented on #145
@glogemann - Looking for updates on the devices from your end.

[2021-03-11 08:04] #156 closed

[2021-03-11 08:06] v-iskha commented on #157
@LiangJy123 - This is to let you know that Dev team has identified a bug in custom vision deployment. They are working to fix the bug at earliest. We will update you once the bug is fixed.

[2021-03-11 14:48] mikelor commented on #135
Well, I never really got it back to where LED 02 Would get to a solid green. It either continues to flash green or turns off.

The IoTHub shows it as connected and I can run the video stream and and the automotive speech sample.

Working on a custom application now following the advanced tutorial.

Waiting also for the next firmware update.

[2021-03-11 16:53] v-iskha commented on #135
@mikelor - Thank you for sharing the feedback. Much appreciated. The next software update will surely be bug free (known bugs) and more stable. Since we do not have any further troubleshooting on this we will be closing this issue.

[2021-03-11 16:53] #135 closed

[2021-03-11 16:55] v-iskha commented on #143
@mikelor - Since we are no longer using the Santa Cruz portal (no further updates will be available in future on this portal), we will be closing this issue.

[2021-03-11 16:55] #143 closed

[2021-03-11 16:57] v-iskha commented on #139
@mikelor - Since we do not have any further troubleshooting needed on this issue, we will be closing this from our end.

[2021-03-11 16:57] #139 closed

[2021-03-11 17:33] tsampige commented on #120
@Vivihung Also once the device is booted, does the default model switches back to the sample one that you had deployed originally?

[2021-03-11 17:49] Neurotaur opened #159 "Error calling Create module ImageCapturingModule"
Hi,
I get the follogin error in my device.

`{
  "body": {
    "version": 203,
    "properties": {
      "reported": {
        "lastDesiredVersion": 48,
        "lastDesiredStatus": {
          "code": 500,
          "description": "One or more errors occurred. (Error calling Create module ImageCapturingModule: Could not create module ImageCapturingModule\n\tcaused by: Could not create module Imag

[2021-03-11 17:54] Vivihung commented on #120
@tsampige, no. The model it falls back to, is the default model installed in the Eye.
I don't know if the default model has been installed in the device since factory; or it is installed when we connect the kit to Azure. But the model is not built by me for sure. It can recognize objects (chair, cat, desk, bed, .... etc) already.

[2021-03-11 21:34] v-iskha commented on #159
@tsampige - Please advice if you can help here. User is getting error 406 under IoT Edge Runtime. Module "ImageCapturingModule" is not running.

[2021-03-11 22:07] tsampige commented on #159
@v-iskha could you ask the user to reboot the device and then try to re-deploy sample vision model from the Azure percept studio? The imagecapturemodule will get re-deployed which hopefully should address the issue.

[2021-03-11 22:10] v-iskha commented on #159
@Neurotaur - As suggested, could you reboot the device and then try to re-deploy sample vision model from the Azure percept studio? The imagecapturemodule will get re-deployed which hopefully should address the issue. Let us know your observation.

[2021-03-11 23:36] Neurotaur commented on #159
I uninstaled the ImageCapture Module. Now, I need directions to reinstall it.

![image](https://user-images.githubusercontent.com/6352684/110869304-c7dcc280-828f-11eb-89c7-453f2b980219.png)

[2021-03-11 23:57] tsampige commented on #159
can you re-deploy sample vision model from the azure percept studio? The imagecapturemodule gets redeployed as part of the sample model deployment. Give 5-10mins to ensure that the sample model and the imagecapture module is getting deployed to the device.

[2021-03-12 02:54] LiangJy123 commented on #157
Hi @v-iskha , Thank you for your reply.
Before your reply , I was worried that something wrong with my setup and I tried many times.
Now I can concentrate on waiting for your good news.

[2021-03-12 17:31] Neurotaur commented on #159
I get "Deployment error .Deployment was unsuccessful. Please try again."

![image](https://user-images.githubusercontent.com/6352684/110976203-3cfad700-8326-11eb-9b87-a3f12ba98dce.png)

![image](https://user-images.githubusercontent.com/6352684/110976070-1341b000-8326-11eb-9f1a-6888bc9b57be.png)

[2021-03-12 18:52] v-iskha commented on #159
@Neurotaur - Could you please ensure the USB connection between the carrier board and the Eye SoM is connected properly. Also make sure you are using a usb-c to usb-c cable.

[2021-03-12 19:02] Neurotaur commented on #159
I think Eye SoM is connected properly. I can see the webstream video from the carrier board.

![image](https://user-images.githubusercontent.com/6352684/110986267-13947800-8333-11eb-80b7-a9729b304b3c.png)

[2021-03-12 19:06] v-iskha commented on #159
@Neurotaur - Thank you for the confirmation. Could you please share the device logs for investigatation.

You can share the logs generated from the following commands?
sudo docker logs azureeyemodule > azureeyemodule.log
sudo docker logs edgeAgent >edgeAgent.log

[2021-03-12 19:29] Neurotaur commented on #159
[azureeyemodule.log](https://github.com/microsoft/Project-Santa-Cruz-Preview/files/6132525/azureeyemodule.log)
[edgeAgent.log](https://github.com/microsoft/Project-Santa-Cruz-Preview/files/6132526/edgeAgent.log)

[2021-03-12 20:36] v-iskha commented on #159
@Neurotaur - Thank you for sharing the logs. From the logs I see the Azure application seems to be started/loaded before the device network connectivity is ready (dns not yet working and connections can't be opened), it can get stuck and may never connect even with unlimited time and retries.

Try this, close all the application including Azure application, reboot the device. Once rebooted, wait f

[2021-03-12 21:28] Neurotaur commented on #159
(1) I close all the applications.
(2) I restarted the device
(3) I waited 5 minutes.
(4) I deployed a Sample Vision Model from Azure Percept Studio

I get the same error: "Depoyment error. Deployment was unsuccessful. Please try again."

![image](https://user-images.githubusercontent.com/6352684/111000066-02edfd00-8347-11eb-89a5-8823ee934fc5.png)

[2021-03-12 21:31] v-iskha commented on #159
@tsampige - Need your expertise here. Fabian is not able to deploy sample vision model from Azure Percept Studio. He has also shared the logs in earlier thread.

[2021-03-14 22:50] ecnochx commented on #157
I am having the very same issue deploying customer vision models. they simply won't seem to be loaded by the Eye SoM

[2021-03-15 12:56] mar1a commented on #157
I am also facing the same issue. I exported the custom vision model as zip file using Vision AI Dev Kit and updated the ModelZipUrl in device twin property by referring this link https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/prototyping/containers/eye_module_overview.m,. still i could see the default AI model inferences in telemetry.

[2021-03-15 17:17] tsampige commented on #157
The model file format for vision ai devkit (qualcomm based chipset) is different than the Azure Percept DK (Intel based chipset). The model exported using Vision AI dev kit won't run on the Azure Percept dk.

[2021-03-16 04:29] ecnochx commented on #157
What about exporting the model as either ONNX or DockerFile (Linux), one of those should work with the Azure Percept DK right?

[2021-03-17 03:58] coolsharepoint opened #162 "DevKit SoftAP wifi access point shows up and disappears"
Steps:
- Set up all connections.
- Powered on the device. The SoftAP wifi access point shows up. When i enter the wifi password, it connected to the network and then the Wifi SSID disappears. I rebooted the devkit, same issue happens. Have tried multiple times, same issue.
- Weird Part, i see the device registered in IotHub with the DeviceId that was used before.

Note : Last week, i had registere

[2021-03-17 05:01] v-prsasa commented on #162
@coolsharepoint This is known issue- https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/known-issues.md. Please go through the link for reference.

[2021-03-17 05:01] #162 closed

[2021-03-17 05:01] v-prsasa commented on #162
Closing as it's known issue.

[2021-03-17 06:57] mar1a commented on #157
Ok, Thanks for the confirmation.

[2021-03-17 16:01] cmajane opened #163 "OOBE hangs on finalizing device setup"
After the final step of the OOBE (entering device name, checking TPM enrollment, and hitting Next), the device setup hangs on the screen below and never completes.

![image](https://user-images.githubusercontent.com/80842389/111498594-75305a00-8718-11eb-892a-4d0cab387339.png)

The new device name then appears in the IoT hub, but displays the following IoT Edge Runtime Response error: 406 -- The de

[2021-03-17 16:44] v-iskha commented on #163
@cmajane - Please refer steps from [OOBE](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md) guide and let us know if this helps.

[2021-03-17 17:06] coolsharepoint commented on #162
Hi,
I have seen the issues page and i am not even seeing the devkit wifi hotspot to proceed. So technically blocked. Can you please help to resolve this issue?

[2021-03-17 17:09] coolsharepoint opened #164 "DevKit SoftAP wifi access point didnt show up"
When the devkit is powered on, i am not seeing the softAP wifi access point to proceed. Tried rebotting the device multiple times, no luck.

[2021-03-17 17:40] cmajane commented on #163
I have followed the OOBE guide several times and always encounter this issue after step 13 of the OOBE procedure.

[2021-03-17 17:41] v-iskha commented on #164
@coolsharepoint - We have observed that this is a [known issue](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/known-issues.md). Also if the host computer you will be using has an active WWAN/Cellular connection, disconnect from it before proceeding. This can sometimes cause interference to the SoftAP.

[2021-03-17 19:08] coolsharepoint commented on #164
Followed the issue page. Disconnected the host wifi before connecting to the devkit softAP. When connected to the devkit wifi now, the devkit wifi disappears after the getting the code to copy and paste in the Microsoft device login page. At this point, Microsoft device login page is not accessible.

[2021-03-17 19:11] coolsharepoint opened #165 "Not getting data from deployed custom vision model to the devkit"
Created a new vision project, trained the model and deployed the model to a devkit.
The devkit is predicting objects instead of the deployed model. No trace of the custom vision model data is coming through.

[2021-03-17 19:14] mikelor commented on #163
@cmajane, there are some helpful tips in the [Notes](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md#notes) section of OOBE.

Another thing to look into...
  1. What type of WiFi Access Point are you pointing your DevKit to? I've found that a Mobile Network or an "enterprisey" type network will not always succeed. I usually have more success wi

[2021-03-17 19:19] mikelor opened #166 "Unable to connect to Hidden SSID. Is this supported?"
I've been working with our enterprise folks to setup an alternate SSID/Access Point that supports Pre-Shared Keys.

There is a requirement that they make the SSID a hidden network. I don't see away to "+ Add a Network Connection", similar to Windows 10. I don't see this under advanced network settings either.

If not, I'd like to submit a Feature Request for this.

[2021-03-17 21:04] v-iskha commented on #165
@coolsharepoint - There is already an open [issue](https://github.com/microsoft/Project-Santa-Cruz-Preview/issues/157) reported earlier. The issue will be fixed in next OS software update for the devkit.

[2021-03-17 21:04] #165 closed

[2021-03-17 21:10] v-iskha commented on #166
@tsampige - Does Azure private preview DK supports "Pre-Shared Keys" Also the SSID is hidden. So can the device connect to hidden n/w. If not then customer is requesting this as a feature request on the same.

[2021-03-17 23:21] tsampige commented on #166
+ Keith

From: v-iskha ***@***.***>
Sent: Wednesday, March 17, 2021 2:11 PM
To: microsoft/Project-Santa-Cruz-Preview ***@***.***>
Cc: Tony Sampige ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Project-Santa-Cruz-Preview] Unable to connect to Hidden SSID. Is this supported? (#166)

@tsampige<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftsampige&data=04

[2021-03-18 00:51] SillyKeith commented on #166
This feature is already implemented in the latest image.  The wifi page has an "Add hidden network" option at the bottom of the network scan results.
![hiddenssid](https://user-images.githubusercontent.com/28606059/111557166-644c0c80-8749-11eb-934e-b3e251e4970a.PNG)

[2021-03-18 00:51] #166 closed

[2021-03-18 15:48] jdiekhoff opened #167 "Azure Percept Studio opens wrong video stream url after setting static IP address"
I initially setup my device to use a dynamic IP address. I have now set a static ip going through the oobe tool. However, when clicking "View stream" in Azure Percept Studio, the old ip address is launched. I can view the stream by manually going to the ip address that I set and it works, but would prefer that Azure Percept Studio launch with the correct ip.

[2021-03-18 16:14] jdiekhoff opened #168 "Attempting to deploy a sample vision model from Azure Percept Studio fails with generic error"
I'm trying to deploy the people detection sample vision model in Azure Percept Studio to my device. It fails with a generic error, I'm not sure what next steps to take.

![2021-03-18_12-12-29](https://user-images.githubusercontent.com/1173121/111659302-7f6b5a80-87e3-11eb-84ae-5bfc9524ee8d.png)

[2021-03-18 17:33] v-iskha commented on #168
@jdiekhoff - Hi Joseph, please use this [troubleshooting guide](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/vision_solution_troubleshooting.md) and let us know if that helps.

[2021-03-18 17:41] v-iskha commented on #167
@jdiekhoff - Hi Joseph, after setting the static IP using OOBE tool, could you please reboot the device and restart Azure Percept Studio and try if that helps.

[2021-03-18 18:11] jdiekhoff commented on #167
@v-iskha thank you for the recommendation. I have rebooted the device and restarted Azure Percept Studio, but the old dynamic IP is still being used when opening a stream in Azure Percept Studio. I can still view the stream when manually opening a browser tab and typing in the static ip.

[2021-03-18 18:23] jdiekhoff commented on #168
@v-iskha thank you, I've gone through the troubleshooting guide and I'm unsure of what steps to take to resolve this. The azureeyemodule is reporting as running, and I'm able to view the video stream. I don't know why I'm getting a generic deployment error when trying to deploy a sample model. What logs should I be checking for deployment errors?

[2021-03-18 19:11] v-iskha commented on #167
@EthanChangAED - Device is not getting static IP which has been assigned via OOBE, it is picking up old dynamic IP. Joseph was able to access the video stream by manually typing the static IP in browser.

[2021-03-18 19:21] v-iskha commented on #168
@jdiekhoff - That was the first step to check which seems good now. Sometimes the azureeyemodule does not load the default container properly. Could you share the screenshot for "IoT Edge Runtime Response" (Attaching sample screenshot)
![image](https://user-images.githubusercontent.com/65275223/111684790-26d0a780-884d-11eb-98fb-35a6b2bfa5b8.png)

[2021-03-18 19:23] v-iskha commented on #163
@EthanChangAED - After the final step of the OOBE (entering device name, checking TPM enrollment, and hitting Next), the device setup hangs and never completes.

[2021-03-18 20:07] jdiekhoff commented on #168
@v-iskha Thank you, I've included a screenshot of the IoT Edge Runtime Response and the azureeyemodule.
![2021-03-18_16-03-41](https://user-images.githubusercontent.com/1173121/111690807-08928980-8804-11eb-8d12-dcb7210eaba9.png)
![2021-03-18_16-05-58](https://user-images.githubusercontent.com/1173121/111690822-0cbea700-8804-11eb-9a32-738c3d4f5520.png)

[2021-03-18 22:49] v-iskha commented on #168
@jdiekhoff - Hi Joseph, the IoT Edge Response looks good to me. Please also share the device logs for investigation.
You can share the logs generated from the following commands?
sudo docker logs azureeyemodule > azureeyemodule.log
sudo docker logs edgeAgent >edgeAgent.log

[2021-03-18 23:54] mikelor opened #169 "Unable to Update DevKit via USB Method"
I've made it back into the office and unpacked 2 devkits that were sent earlier this year.
I have been unable to update them using the [USB update method #1: USB storage device](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md#usb-update-method-1-usb-storage-device)

I have a FAT32 Formatted USB Device with the **Microsoft-PE-101-2021.101.106.1

[2021-03-19 00:09] mikelor opened #170 "Error: Unauthorized - When Trying to Add New DevKit to Existing IotHub"
When trying to add a new DevKit to an existing IoTHub, I am getting an Error: Unauthorized
According to a cat /etc/adu-version the current version on the device is **2020.110.114.105**

I have successfully added other DevKits to this IoTHub in the past, but am unable to do this with a new set of hubs. I have tried to update the DevKit to the lastest version but ran into Issue #169

Here is a scree

[2021-03-19 01:21] v-iskha commented on #169
@EthanChangAED - Mike is unable to update device using USB update method.

[2021-03-19 01:56] v-iskha commented on #168
@jdiekhoff - Follow these steps

1.	Goto Azure Portal
2.	Select Iot Edge and click on your device under the Device ID tab.
3.	Goto Modules tab
4.	Click on “Azureeyemodule”
5.	On top, click on “Module Identity Twin”
6.	On Line # 21, you will find “ModelZipUrl”:””,
7.	In the double quotes enter https://aedsamples.blob.core.windows.net/vision/aeddevkitnew/product-detection.zip
8.	It will now look as

[2021-03-19 04:19] v-prsasa commented on #170
@mikelor I hope you are following this link https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md .

[2021-03-19 22:52] mikelor commented on #170
@v-prsasa, Yes. I am. (Although with the version I am on (see first post) the experience is different. Here is the screen prior to the Error - Unauthorized. I am able to see all of my IoT Hubs and all are enabled with DPS.

![image](https://user-images.githubusercontent.com/341942/111849565-20811080-88cb-11eb-946e-e279ea5e429a.png)

[2021-03-19 22:55] mikelor commented on #169
@v-iskha, @EthanChangAED   I have been able to update a previous devkit (earlier base version) using the USB method just fine. Not sure why this one fails to updated. (I'm even using the same USB that I used for the successful update).

[2021-03-19 23:22] mikelor opened #171 "Update OOBE Documentation To Reflect Latest Image Experience"
The [OOBE](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/getting_started/oobe.md) documentation does not seem to reflect the latest image experience.

According to to the [resolution](https://github.com/microsoft/Project-Santa-Cruz-Preview/issues/166#issuecomment-801535703) of #166 I should have the ability to "Add Hidden Network".

In Step 3 of the OOBE it makes no

[2021-03-19 23:26] mikelor commented on #171
Also, because of issue #169, I'm unable to add to a hidden network. :(

[2021-03-19 23:30] mikelor commented on #170
@v-prsasa I also attempted to "Create a IoT Hub" as part of the OOBE flow, and register my devkit with that one. It failed with same error as well. See screenshots below.

![image](https://user-images.githubusercontent.com/341942/111851453-6c828400-88d0-11eb-8499-f122413372a1.png)

[2021-03-19 23:34] mikelor commented on #145
@glogemann what image version are you running on your devkit. I'm unable to update my image. You can view the image version by logging in w/SSH and typing
`cat /etc/adu-version`

[2021-03-22 02:00] lxyea commented on #168
@v-iskha I've just followed all your steps above, and added the URL address, still the same error message.
![image](https://user-images.githubusercontent.com/17607036/111931118-a17c1a00-8b0e-11eb-8562-3377a92c0891.png)

[2021-03-22 05:18] v-iskha commented on #171
@mikelor - Apologies for the misunderstanding. On GitHub # 169, Keith wants to say that the enhancement has been implemented in the new upcoming software update. Hence he shared the new software screenshot that the Hidden WIFI feature is available in the new software update. Once the new software is available, you can update the same to get the new feature.

[2021-03-22 05:18] #171 closed

[2021-03-22 05:20] v-iskha commented on #170
@mikelor - For IoT Hub please use [this](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/create-device-update-account) document and let us know if that helps.

[2021-03-22 05:21] v-iskha commented on #169
@mikelor - Just a quick question, have you tried to update the device via USB on both new devices?

[2021-03-22 05:24] v-iskha commented on #168
@lxyea - Forgot to mention that sometimes after the "Azuremodule" update we need to restart the device and the "Azure portal". Let us know the outcome.

[2021-03-22 05:25] v-iskha commented on #167
@WendyAnn0079 - Azure Percept Studio is not getting static IP which has been assigned via OOBE, it is picking up old dynamic IP. Joseph was able to access the video stream by manually typing the static IP in browser.

[2021-03-22 05:27] v-iskha commented on #164
@coolsharepoint - Have you tried to click the button close to the LED to try turn ON/OFF the SoftAP? Let us know if that make any changes.

[2021-03-22 05:29] v-iskha commented on #163
@WendyAnn0079 - After the final step of the OOBE (entering device name, checking TPM enrollment, and hitting Next), the device setup hangs and never completes.

[2021-03-22 05:29] v-iskha commented on #159
@MaxStrange - Need your expertise here. Fabian is not able to deploy sample vision model from Azure Percept Studio. He has also shared the logs in earlier thread.

[2021-03-22 05:34] v-iskha commented on #157
@LiangJy123 - Closing this case as the custom vision bug is fixed in the new software update. We just need to wait for the new software update to be available publicly.

[2021-03-22 05:34] #157 closed

[2021-03-22 05:43] v-iskha commented on #145
@samecchang - On both Santa Cruz Private preview devices the LED's on the compute unit are constantly OFF. Only the power button is illuminated when the device is running. Could you please advise.

[2021-03-22 05:48] v-iskha commented on #120
@Vivihung - Yes, the default model is the factory installed (also known as sample modules). Default module should recognize basic devices like chair, desk, bed, etc.
There is already a bug identified for custom vision. Dev team has fixed the issue and the fix will be released in the upcoming software update. Hence closing this issue. Please update the device once the new software update is availab

[2021-03-22 05:48] #120 closed

[2021-03-22 05:50] v-iskha commented on #104
@jimbobbennett - Closing this issue as there is no further update since 9-Mar-21. Assuming the issue to be fixed.

[2021-03-22 05:50] #104 closed

[2021-03-22 09:08] samecchang commented on #145
I want to echo @mikelor's comment. The image version is important for us to identify the issue.

@glogemann would you please provide the image version information you are using? You can view the image version by logging in w/SSH and typing
cat /etc/adu-version

[2021-03-22 13:49] mikelor commented on #169
@v-iskha I have not. But I will be unboxing a 3rd DevKit from same batch today and let you know the results.

I will first do the OOBE to see if I can get past issue #170

Then I will attempt the USB Update later today.

[2021-03-22 13:57] mikelor commented on #171
@v-iskha Thanks, I will wait for the new image.

But the main point of this issue is to update the OOBE docs to show that the Hidden Network experience is there or perhaps add a note about hidden networks. Perhaps getting @elqu20 to update the page. :)

[2021-03-23 14:03] mikelor commented on #169
Update: I was able to unbox a 3rd DevKit and get it connected to my IoTHub. I'm going to attempt a USB Update to a version later today. The only difference is the network I used for connectivity. I will update #170 with the results.

[2021-03-23 14:11] mikelor commented on #170
It looks like the link referenced above is for updating a DevKit OTA with Azure Device Update. In order for that to occur, a DevKit has to be attached to an IoTHub, which is what this issue is.

An update on this, I was able to unpack a 3rd DevKit same version/batch as this (2020.110.114.105), and I was able to get it to attach to my existing IoTHub.  The only difference between the two, is the ne

[2021-03-23 20:12] v-iskha commented on #170
@mikelor - Hi Mike, this is inform you that "EAP[PEAP/MSCHAP]", "captive portals", and "Enterprise EAP-TLS" connectivity is currently not supported.

[2021-03-23 20:19] v-iskha commented on #169
@mikelor - Just to add, "EAP[PEAP/MSCHAP]", "captive portals", and "Enterprise EAP-TLS" connectivity is currently not supported.

[2021-03-23 21:39] mikelor commented on #170
Thanks @v-iskha, this network is using WPA-2 with a Pre-Shared Key (Password), meaning it's supported and I am successfully able to connect to it.

One of the "enterprisey" features on this network may be "[SSL Inspection](https://dzone.com/articles/what-is-ssl-inspection-why-use-ssl-inspection#)" which requires that the client (DevKit in this case) needs a known enterprise certificate installed.

[2021-03-23 22:06] v-iskha commented on #170
@mikelor - Thanks for your feedback Mike. WPA2 pre-shared keys (PSK) is designed for personal home use hence it is supported.

[2021-03-24 02:17] v-iskha commented on #164
@coolsharepoint - Could you please provide below information as well

1. What OS you are using on the Host computer
2. Does the SoftAP name still show up in Windows as an available Access point which you could connect to?
3. Can you try this: When connecting to the Percept Wifi AP, check the "Connect Automatically" box.  Does this allow the connection state to be preserved when getting to the Devi

[2021-03-24 03:11] coolsharepoint commented on #164
I am able to register the device. Thanks for the help.
This ticket can be closed.

[2021-03-24 03:21] #164 closed

[2021-03-24 14:54] mikelor commented on #169
USB Update Method on the 3rd DevKit did not work. Since I was able to get this device connected to the IoTHub, I will use the OTA Method. Perhaps it's an issue with this current version image, as I've been able to use USB Update in the past.

[2021-03-24 20:56] v-iskha commented on #145
@glogemann - Just following up. Any update on finding the image version from the devices?

[2021-03-25 10:30] othmane-alaoui opened #172 "Can't deploy a Custom Vision Model or a Sample Model on the Dev Kit"
I am running on a 20210106.1146 version, and I can't deploy a Custom Vision Model or a Sample Model on the Dev Kit.
I am getting this generic error: "Deployment was unsuccessful. Please try again".
<img width="369" alt="error" src="https://user-images.githubusercontent.com/59685366/112458590-3d9b6080-8d5d-11eb-8012-1160f5582629.PNG">

[2021-03-25 10:42] v-prsasa commented on #172
@othmane-alaoui
Can you update Azure Module using below steps

1.	Goto Azure Portal
2.	Select Iot Edge and click on your device under the Device ID tab.
3.	Goto Modules tab
4.	Click on “Azureeyemodule”
5.	On top, click on “Module Identity Twin”
6.	On Line # 21, you will find “ModelZipUrl”:””,
7.	In the double quotes enter https://aedsamples.blob.core.windows.net/vision/aeddevkitnew/product-detecti

[2021-03-25 10:58] othmane-alaoui commented on #172
I tried this method, I am still getting the same error.
The modules seems to be running with no errors:
![image](https://user-images.githubusercontent.com/59685366/112461850-a7693980-8d60-11eb-9497-2c2127636369.png)
I also noticed a message saying: "Vision module not installed";
![image](https://user-images.githubusercontent.com/59685366/112462019-e26b6d00-8d60-11eb-85ef-651162bd1cb1.png)
I think

[2021-03-25 12:35] Neurotaur commented on #159
Hi,
Some news?

[2021-03-25 23:02] mikelor opened #173 "Unable to start OOBE after OTA Update to 2021.101.106.118 - Argh!"
Okay, after failing to update a DevKit via USB (#169), I was able to successfully connect to an IoTHub and get the DevKit updated via an OTA Update to 2021.101.106.118

However it
  1. Lost it's Internet WiFi Configuration
  2. No longer starts the OOBE at either 10.1.1.1 or 10.1.1.1:4242

I have powered down, disconnected from power multiple times
It does not work.

This is extremely frustrating.

[2021-03-25 23:05] mikelor commented on #173
I should also add. I attempted to troubleshoot using the method below (defined on [this page](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/release-notes/known-issues.md)
![image](https://user-images.githubusercontent.com/341942/112554583-d2b15000-8d83-11eb-8225-e68a968131f8.png)

But what IP address should I be looking for?

[2021-03-25 23:54] v-iskha commented on #170
@mikelor - I am closing this issue, since you are now able to connect the device to existing IoT Hub.

[2021-03-25 23:56] v-iskha commented on #168
@lxyea - Hi Larry, could you please share the device logs for investigation.
You can share the logs generated from the following commands?
sudo docker logs azureeyemodule > azureeyemodule.log
sudo docker logs edgeAgent >edgeAgent.log

[2021-03-26 00:02] lxyea opened #174 "Examples of working with both Eye SoM and Ear SoM"
Hi, project Santa-cruz team (Azure Percept team),
I can only see AI Edge examples that work with Eye Module or Ear Module separately. Do you have an example of using both modules, i.e. some use cases that will take voice as well as vision input and then get some joint insight?
Further to this, is there any Actuator SoM in the roadmap?

[2021-03-26 00:33] mikelor commented on #170
@v-iskha the only reason I am able to get it connected is because I am using my home network. I still have this issue on my office network setup specifically for this device. Please reopen it.

[2021-03-26 01:22] v-iskha commented on #174
@tsampige - Question from customer, _"Do you have an example of using both (Eye & Ear) modules, i.e. some use cases that will take voice as well as vision input and then get some joint insight? Further to this, is there any Actuator SoM in the roadmap?"_

[2021-03-26 01:29] v-iskha commented on #173
@mikelor - Apologies for inconvenience. Since you have done an OTA update, please use this [link](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/ota_update.md) for guidance. It also has its separate known issues at the bottom of the page.

[2021-03-26 01:30] v-iskha commented on #172
@othmane-alaoui - Could you please share the device logs for investigation.
You can share the logs generated from the following commands?
sudo docker logs azureeyemodule > azureeyemodule.log
sudo docker logs edgeAgent >edgeAgent.log

[2021-03-26 01:44] mikelor commented on #173
Thanks @v-iskha I did review those, but none of them match the issue that I am experiencing. I am unable to get the OOBE to run.

[2021-03-26 02:06] v-iskha commented on #173
@WendyAnn0079 - Mike is unable to run the OOBE after updating the software to 2021.101.106.118.

[2021-03-26 09:18] othmane-alaoui commented on #172
@v-iskha Thank you for your answer.
Here is my two logs file:

- azureeyemodule logs: [azureeyemodule-2021-03-26--09-07-01.log](https://github.com/microsoft/Project-Santa-Cruz-Preview/files/6210608/azureeyemodule-2021-03-26--09-07-01.log)

- edgeAgent logs: [edgeAgent-2021-03-26--09-09-03.log](https://github.com/microsoft/Project-Santa-Cruz-Preview/files/6210612/edgeAgent-2021-03-26--09-09-03.log)

[2021-03-26 18:02] jacksongitpro opened #175 "access to Getting Started Videos"
hello how can I view the Getting Started Videos! I need view them for complete the Project-Santa-Cruz preview! can you help me please ?

[2021-03-26 19:05] v-iskha commented on #175
@jacksongitpro - Please share your email ID we will do the needful.

[2021-03-26 22:52] jacksongitpro commented on #175
jacksong@exo.com.ar thanks

[2021-03-26 23:28] v-iskha commented on #175
@jacksongitpro - Access has been granted.

[2021-03-26 23:28] #175 closed

[2021-03-27 01:03] jacksongitpro opened #177 "I cannot access to getting_started videos"
![image](https://user-images.githubusercontent.com/77233912/112705595-60716600-8e7e-11eb-9168-ecc4ae2305a3.png)

thanks for the access. but, now when I try to enter, it asks me to change the password which is impossible since our domain is on-premises and it is not from azure ad

![image](https://user-images.githubusercontent.com/77233912/112705765-f6a58c00-8e7e-11eb-8eaa-197219968790.png)

How co

[2021-03-27 16:57] mikelor commented on #173
I'm going to close this. OTA is Broken, Broken, Broken.
After setting up 4 DevKits and updating them with various methods, I've found the only reliable way to update DevKits is via USB Method 2 (Using the UUU tool).

Even though the OTA updated the version, I still had inconsistencies. Closing this Issue since there is a workaround.

[2021-03-27 16:57] #173 closed

[2021-03-29 02:21] v-prsasa commented on #177
@jacksongitpro  Santa Cruz [portal](https://projectsantacruz.microsoft.com/) and onboarding is no longer needed. So you might face some issues with the portal as well. For any guidance or support you can refer official Santa Cruz [GitHub](https://github.com/microsoft/Project-Santa-Cruz-Preview#welcome-to-the-project-santa-cruz-private-preview) channel.

[2021-03-29 12:21] holgerkenn opened #178 "Creating oobe user with ssh public key creates user that is unable to sudo as there is no password"
Repro:
1. Create user during OOBE with public key
2. ssh to device via public key
3. type 'sudo bash'

user@<device> [ ~ ]$ sudo bash

We trust you have received the usual lecture from the local System
Administrator. It usually boils down to these three things:

    #1) Respect the privacy of others.
    #2) Think before you type.
    #3) With great power comes great responsibility.

[sudo] passwo

[2021-03-29 12:56] holgerkenn opened #179 "Pasting ssh public key with linebreaks in oobe creates broken user account"
Repro:
1. In oobe, create user with ssh public key, select "Use existing public key"
2. To enter public key, open e.g. WSL window and type "cat .ssh/id_rsa.pub", then mark public key in terminal window and rightclick to copy (this now includes line breaks in the copy)
3. Paste key into OOBE public key window and submit.
Error message:
Error
Command failed: ssh-keygen -l -f /home/<username>/.ssh/id

[2021-03-29 14:00] jacksongitpro commented on #177
I regard to the access to getting_started. when I try to acces it ask me to **update my password**

which is impossible since our domain is on-premises and it is not from azure ad

[2021-03-29 19:53] v-iskha commented on #177
@jacksongitpro - "Update your password" is the message from your account ID, nothing to do with giving access. We simply add the email ID to provide access.

[2021-03-29 20:18] jacksongitpro opened #180 "loss password root"
how  can I restore the system properly?  I have loss the root password

[2021-03-29 20:19] jacksongitpro opened #181 "I have loss the root password"
how  can I restore the system properly?  I have loss the root password

[2021-03-29 20:27] #181 closed

[2021-03-29 23:42] mikelor commented on #180
@jacksongitpro you could try using Method #2 of Updating the Image with the USB UUU Tool, then try and sign in using the default root password.

[2021-03-29 23:59] jacksongitpro commented on #180
hello!! thanks for try help me, I've used the method #3 https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md

[2021-03-30 00:02] #180 closed

[2021-03-30 01:39] v-iskha commented on #178
@WendyAnn0079 - User is having some issues at OOBE level. Please advise.

[2021-03-30 01:40] v-iskha commented on #179
@WendyAnn0079 - User is having some issues at OOBE level. Please advise.

[2021-03-31 00:21] lxyea commented on #168
Hi iskha, apologies for the late reply. I've just tried above commands in the az cli, however, it seems not working for me. Could you please give me more detailed instruction? Thanks a lot.

[2021-03-31 00:22] lxyea commented on #168
I've restarted, it remains the same error.

[2021-04-02 05:20] v-iskha commented on #145
Closing this as the software bug is fixed in coming release.

[2021-04-02 05:20] #145 closed

[2021-04-03 21:17] mklasby opened #183 "Unable to recover azureeyemodule after disabling and re-enabling connection to iot hub"
We are working with 4 azure percept devices and each  device's `azureeyemodule` has entered a failed state with exit code 135 after disabling / enabling the devices on iot hub. We have tried restarting the container, power cycling the devices, and setting the modules from desired status running to stopped and back to running without any luck.

See docker container logs attached (warning, large fil

[2021-04-04 20:10] v-iskha commented on #172
@othmane-alaoui - “According to the logs, it seems that the Eye SoM wasn't recognized correctly. Please ensure the USB connection between the carrier board and the Eye SoM is connected properly? Also make sure you are using a usb-c to usb-c cable"

[2021-04-05 06:31] MS-Nikunja commented on #183
@tsampige -  User is having issues with azureeyemodule. Please advise.

[2021-04-05 19:35] mklasby commented on #183
Update: We have been able to recover the devices, but only by deleting them from the iot hub and re-registering through the OOBE process. I believe this issue should remain open as this seems to be unintended behaviour

[2021-04-07 09:51] kaareseras opened #185 "OTA Deployment fails with incompatible device"
Updating device from 2020.110.114.105 --> 2021.101.106.118

Updating using ADU gives just says that device is incompatible in the portal

![image](https://user-images.githubusercontent.com/15147387/113847188-7e509c00-9797-11eb-9396-2c982c6b0f99.png)

[2021-04-07 11:59] MS-Nikunja commented on #185
@kaareseras - Have you tried to update the device via USB? Currently it is recommended to perform USB update method instead of OTA.

[2021-04-07 17:10] jdiekhoff commented on #167
I tested with another device, switching to a static IP and restarting does work. The correct IP is picked up on restart. The previous device is probably faulty, it is currently unresponsive. Closing.

[2021-04-07 17:10] #167 closed

[2021-04-07 17:10] jdiekhoff commented on #168
@v-iskha This device has now become completely unresponsive. It's no longer able to connect to IoT Hub, nor does the SoftAP work to start the OOBE to attempt to fix.

[2021-04-07 19:03] v-iskha commented on #168
@jdiekhoff - Please delete the device from the IoT hub and then re-register through the OOBE process. The device should be able to connect in IoT Hub.

[2021-04-07 19:05] v-iskha commented on #172
@othmane-alaoui - Any updates on the device.

[2021-04-08 07:16] kaareseras commented on #185
Hi, I have tried the USB also now, however, it does not update the FW

I Copied the Microsoft-PE-101-2021.101.106.118.swu to the root of a Fat32 formated USB stik pluegd in in, and rebooted both using the reboot command and the button long press.

Still I'm running 2020.110.114.105 on the device

[2021-04-08 21:49] v-iskha commented on #185
@kaareseras - Question for you, 1. Do you have a private preview device or you have purchased public preview via Microsoft Store?
2. From where have you downloaded the firmware (because Private preview and Public preview are having different FW). You will not be able to update public preview FW on private preview device and vice-versa.

[2021-04-08 22:05] v-iskha commented on #177
@jacksongitpro - Just looking for update on this. If you are having issues with your existing email account, please share alternate email address and we will add it for you.

[2021-04-08 22:54] mklasby commented on #168
We are having the same issue with 4 different devices, please advise.

[2021-04-08 23:10] v-iskha commented on #168
@tsampige - Need your expertise here. Multiple devices has become completely unresponsive. It's no longer able to connect to IoT Hub, nor does the SoftAP work to start the OOBE to attempt to fix. Restarting does not help. After booting it is stuck in a state of left light solid green and right light blinking green for hours.

[2021-04-08 23:24] edgeyoda commented on #168
I've also had the same issue, can't deploy a custom vision model, tried various things. In my case it says that the model update has been successful, but in practice it does not appear to have actually updated on the device itself. I'm wondering if there is a dependency on the subscription tier. Been using the free one and run out of data quick. I think 8k messages per day is not nearly enough to

[2021-04-09 03:15] mklasby commented on #168
@edgeyoda we are having this issue on a paid tier as well with at 400000 daily message quota

[2021-04-09 13:19] kaareseras commented on #185
I managed to update the device using the UUU tool, thank you

[2021-04-10 01:16] #185 closed

[2021-04-10 01:19] v-iskha commented on #183
@mklasby - Thanks for the feedback. The fix is expected in next software update hence closing this issue.

[2021-04-10 01:19] #183 closed

[2021-04-10 01:19] #177 closed

[2021-04-10 01:23] v-iskha commented on #174
@lxyea - Hi Larry, we do not have any examples at the moment, hence noted & closing this as a new feature enhancement request.

[2021-04-10 01:23] #174 closed

[2021-04-10 01:51] v-iskha commented on #170
@mikelor - Any update from your office network team about the encryption/security they are using due to which device is not getting connecting to office network but works with your home network.

[2021-04-10 01:53] mikelor commented on #170
@v-iskha I'll be back in the office next week and will update this issue then. I will have to update the devkit via the uuu method and then attempt the connection. Will most likely do this onTuesday

[2021-04-12 16:58] mikelor commented on #170
Hey @v-iskha, I updated the DevKit to the latest version using the USB Method #2 (UUU) and was able to successfully attach devices. Closing this issue.

[2021-04-12 16:58] #170 closed

[2021-04-12 17:22] jseokkim opened #186 "ADU Account creation failed during OOBE experience"
I have tried to complete OOBE through https://projectsantacruz.microsoft.com/

Set ADU Service (Azure Device Update) failed due to the the following error message.
The message doesn't provide any actionable log or tips to resolve the error.
Two error messages popped up with "ADU account creation error" and "ADU instance creation error"

How can we collect the proper log for the issue resolution?

[2021-04-12 21:34] tsampige commented on #168
can you try to upgrade the azureeyemodule via the following steps and let me know if it resolves the sample deployment issue? The upgrade module also addresses the log retention issue.
Go to IoT Hub -> IoT Edge -> Select Device -> click on Set Modules -> select azureyemodule, then change image uri to mcr.microsoft.com/azureedgedevices/azureeyemodule:2103-2 and click update -> click on Review + cre

[2021-04-12 23:07] v-iskha commented on #186
@jseokkim - Please refer [this](https://github.com/microsoft/Project-Santa-Cruz-Preview#getting-started) page for step by step guide to configure and use the devkit.
Regarding ADU, it is recommended to updated the DevKit using the USB Method #[2](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md#usb-update-method-2-nxp-uuu-tool) NXP UUU tool

[2021-04-12 23:10] v-iskha commented on #172
@othmane-alaoui - There is an update in azuremodule which you can upgrade by performing below steps

Go to IoT Hub -> IoT Edge -> Select Device -> click on Set Modules -> select azureyemodule,
then change image uri to **mcr.microsoft.com/azureedgedevices/azureeyemodule:2103-2**
and click update -> click on Review + create -> click on create.

The module download will get initiated. To verify if th

[2021-04-12 23:12] v-iskha commented on #159
@Neurotaur - There is an update in azuremodule which you can upgrade by performing below steps

Go to IoT Hub -> IoT Edge -> Select Device -> click on Set Modules -> select azureyemodule,
then change image uri to mcr.microsoft.com/azureedgedevices/azureeyemodule:2103-2
and click update -> click on Review + create -> click on create.

The module download will get initiated. To verify if the downloa

[2021-04-13 18:07] mklasby commented on #183
Thank you @v-iskha, we will try the update and report back if we have any further issues.

[2021-04-13 20:11] rjohnsonrxr commented on #168
Hi, I am facing the same issue, not able to deploy models. I have tried updating the azureeyemodule version. Reported module value is still showing as the preload version after several hours. I am seeing these errors in the logs :

Azure Eye Log :

Error: Time:Tue Apr 13 18:28:23 2021 File:/tmp/azure-iot-sdk-c/provisioning_client/adapters/hsm_client_http_edge.c Func:on_edge_hsm_http_recv Line:365

[2021-04-13 23:03] tsampige commented on #168
can you email aedppsup for a workaround to address this issue?

[2021-04-14 13:26] rjohnsonrxr commented on #168
Sure, what's the email address?

[2021-04-14 13:28] v-prsasa commented on #168
@rjohnsonrxr Kindly mail on this id- aedppsup@microsoft.com

[2021-04-14 22:58] jseokkim opened #187 "How to change/update IoT Hub info on devkit after OOBE completed?"
Hi,

I have completed devkit setup and OOBE to connect IoT hub.
But, for some reason, I have to change the IoT Hub to other instance.
Since SoftAP is not available any more, I can't restart OOBE to set the connection to IoT Hub.
Is there any way to restart SoftAP or just update IoT Hub directly on devkit?

[2021-04-15 00:07] v-iskha commented on #187
@jseokkim - Check if you can SSH the device. If yes then
1. SSH to the device access point (10.1.1.1)
2. Identify and copy the device ethernet IP address
3. Connect to OOBE using the copied ethernet IP based URL

[2021-04-15 05:59] jseokkim commented on #187
Hi,

Although I could connect to the DevKit via ssh root@<ip>, but I cannot connect to http://<ip> or https://<ip> from my desktop which was used to complete OOBE via SoftAP
Should I check web server or OOBE server is running on the devkit? If yes, how to check and restart?

Thanks,
Jaeseok
________________________________
From: v-iskha ***@***.***>
Sent: Wednesday, April 14, 2021 5:07 PM
To: micr

[2021-04-15 20:31] dankronstal opened #188 "Factory reset - where are the files?"
I'd like to factory reset my Percept, which sounds like will be "Method 2" here:

https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/updating/usb_updating.md#usb-update-method-2-nxp-uuu-tool

however I do not see any update files listed. Is there another place I can find them?
<img width="1111" alt="Screenshot 2021-04-15 141857" src="https://user-images.githubusercontent

[2021-04-15 21:30] dankronstal commented on #187
Same issue for me - cannot connect to ethernet IP of device, http:// or https:// either port 80 or port 4242 (just trying everything). Device is up and running great, but I'd love to connect to new sub and hub. What's the play?

[2021-04-15 23:32] v-iskha commented on #187
@jseokkim - Since you can SSH the devce, try below steps

[SSH into your devkit](https://github.com/microsoft/Project-Santa-Cruz-Preview/blob/main/user-guides/general/troubleshooting/ssh_and_serial_connection_setup.md) using “root” as the username. If you disabled the SSH “root” user login via OOBE, you must re-enable it.
Run this command after successfully connecting:
mkdir -p /var/custom-configs

[2021-04-15 23:37] v-iskha commented on #188
@dankronstal - Since we are near in releasing the software update to public, all the old files are removed from project santacruz portal. There are different instructions overall to update the public released software update which will be shared very soon. Apologies for any inconvenience.

[2021-04-15 23:40] v-iskha commented on #172
@othmane-alaoui - Any progress?

[2021-04-15 23:42] v-iskha commented on #168
@rjohnsonrxr - Since the issue seems fixed after the workaround, we are closing this issue.

[2021-04-15 23:42] #168 closed

[2021-04-15 23:44] v-iskha commented on #186
@jseokkim - Any updates?

[2021-04-15 23:58] v-iskha commented on #187
@jseokkim @dankronstal - For changing the settings of IoT Hub, please refer [this](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-create-through-portal#change-the-settings-of-the-iot-hub) link.

[2021-04-16 09:10] othmane-alaoui commented on #172
@v-iskha Thank you for your answers.
I just had a hardware problem. With a little accident the connector between the Eye SoM and the carrier board got broken. So right now, I can't test anything unfortunately.

[2021-04-16 16:30] v-iskha commented on #172
@othmane-alaoui - Very sorry to hear that. Since we cannot do any further troubleshooting here, I am closing this issue from our end.

[2021-04-16 16:30] #172 closed

[2021-04-16 18:39] v-iskha commented on #159
@Neurotaur - Any update?

[2021-04-16 18:41] v-iskha commented on #188
@dankronstal - I am closing this case as per my earlier comment. We will advise once the new software update is available for public with instructions.

[2021-04-16 18:41] #188 closed

[2021-04-17 02:51] mklasby commented on #168
@v-iskha confirmed fixed on our end, thanks!

[2021-04-18 21:42] mikelor commented on #187
@jseokkim @dankronstal I believe the OOBE webpage stops working after 30 minutes. Try powering down the device, then restart it. After it's powered up, connect to the hotspot, and then try and reach the OOBE webpage.

[2021-04-19 15:49] dankronstal commented on #187
@v-iskha thanks, but what i'm intending to do is more like a setting change on the Percept to say "now go talk to _that_ IoT Hub over in that _other_ azure subscription. Sounds like I'll just have to OOBE the thing again.

[2021-04-19 18:34] v-iskha commented on #187
@dankronstal - Sure you can always run the OOBE whenever requirement changes :) Let me know the outcome.

[2021-04-20 00:46] v-iskha commented on #159
@Neurotaur - Since there is no response, we assume the issue to be resolved. Please email "aedppsup@microsoft.com" if you still need support on this issue.

[2021-04-20 00:46] #159 closed

[2021-04-20 00:49] v-iskha commented on #163
@cmajane - Just following up to see if you are still facing any issue on OOBE.

[2021-04-20 00:53] v-iskha commented on #179
@SillyKeith - Hi Keith, need your expertise on this issue. Pasting SSH public key with linebreaks in OOBE created broken user account.

[2021-04-20 00:56] v-iskha commented on #186
@jseokkim - Any update on the issue, did it got fixed.

[2021-04-20 01:45] jseokkim commented on #186
Thanks for helping out.

After rebooting, OOBE is working and I could complete setup via OOBE.

Thanks,
Jaeseok
________________________________
From: v-iskha ***@***.***>
Sent: Monday, April 19, 2021 5:57 PM
To: microsoft/Project-Santa-Cruz-Preview ***@***.***>
Cc: Jaeseok Kim ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Project-Santa-Cruz-Preview] ADU Account creation failed during

[2021-04-20 01:46] #186 closed

[2021-04-21 17:29] SillyKeith commented on #179
Thank you for reporting this.

After you issue the cat command `cat .ssh/id_rsa.pub`, How much of the text blob are you copying?  Do you stop highlighting at the end of your "<username>"?

- When i tested this with Windows Terminal (Ubuntu 20.04) - the act of highlighting copies the text and **this worked.**
- When I tested with WSL command window (Ubuntu 20.04) - Highlighting only the text and no

[2021-04-21 17:47] holgerkenn commented on #179
This seems to have been triggered by Windows Terminal issue. After upgrading Windows Terminal to 1.7.1033.0, the copied text does not contain line breaks anymore. So that part cannot be repro'd anymore.

Having said that, I think the underlying issue is in Percept and it is not fixed. If you insert artificial line breaks into the key, the form validation should then not accept it as a ssh public k

[2021-04-21 18:27] SillyKeith commented on #179
Absolutely agree and I've filed a bug on these two items.

- text input validation
- any errors in the SSH user creation process should result in "no user created".

[2021-04-21 23:40] v-iskha commented on #163
@cmajane - Since there is no response, we assume the issue to be resolved. Please email "aedppsup@microsoft.com" if you still need support on this issue.

[2021-04-21 23:40] #163 closed

[2021-04-22 00:30] v-iskha commented on #187
@dankronstal - Any updates? Did running the OOBE again helped you.

[2021-04-22 00:37] jseokkim commented on #187
Thanks for checking.

I could change IoT Hub by rerunning OOBE.

Thanks,
Jaeseok
________________________________
From: v-iskha ***@***.***>
Sent: Wednesday, April 21, 2021 5:31 PM
To: microsoft/Azure-Percept-Private-Preview ***@***.***>
Cc: Jaeseok Kim ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Azure-Percept-Private-Preview] How to change/update IoT Hub info on devkit after OOBE c

[2021-04-22 00:38] v-iskha commented on #187
@jseokkim - Perfect. Thanks for confirming.

[2021-04-22 00:38] #187 closed

[2021-04-22 15:33] v-iskha commented on #188
@dankronstal - We are pleased to announce the release of public software update today. Please visit [this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a drop-in call to get direct support. [Click here](https://gith

[2021-04-22 15:35] v-iskha commented on #183
@mklasby - We are pleased to announce the release of public software update today. Please [visit](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) this page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a drop-in call to get direct support. [Click here](https://github.c

[2021-04-22 15:38] v-iskha commented on #185
@kaareseras @mikelor - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a [drop-in call](https://github.com/microsoft/Azure-Per

[2021-04-22 15:40] v-iskha commented on #145
@glogemann - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a drop-in call to get direct support. [Click here](https://github

[2021-04-22 15:42] v-iskha commented on #178
@holgerkenn - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a drop-in call to get direct support. [Click here](https://githu

[2021-04-22 15:45] v-iskha commented on #169
@mikelor - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.
You can also attend a drop-in call to get direct support. [Click here](https://github.c

[2021-04-22 16:29] mikelor commented on #169
Congratulations to you and the team. Looking forward to it.

[2021-04-22 16:43] mklasby commented on #183
Thank you @v-iskha, I'll update and confirm the fix on our end

[2021-04-22 20:07] v-iskha commented on #157
@LiangJy123 - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.

You can also attend a drop-in call to get direct support. [Click here](https://gith

[2021-04-22 20:08] v-iskha commented on #165
@coolsharepoint - We are pleased to announce the release of public software update today. Please [visit this](https://github.com/microsoft/Azure-Percept-Private-Preview#welcome-to-the-azure-percept-private-preview-github-page) page to update your dev kit's software and firmware today. It includes instructions as well.

You can also attend a drop-in call to get direct support. [Click here](https://

[2021-04-22 21:09] mikelor opened #189 "Add Note/Link To "Collect your device’s TPM-derived SoftAP password" before beginning update procedure"
Congratulations on the release of the new firmware. I successfully updated my DevKit.

For those users who may not be familiar (or lost their / misplaced their access points secret password), please include a link on the new Update Instructions to [Collect your device’s TPM-derived SoftAP password](https://github.com/microsoft/Azure-Percept-Private-Preview/tree/main/tools/SoftAP-access-info-tool)

[2021-04-23 01:00] mimcco commented on #189
Thanks @mikelor! Can you do me a quick favor and fill out this really short survey. It is how we are tracking who has completed the update, and will help prevent us from sending you any nag mails :). Plus we'd love your feedback.

[2021-04-23 01:46] mikelor commented on #189
@mimcco done!

[2021-04-23 17:39] mikelor opened #190 "Unable to Collect Device’s TPM-derived SoftAP password (Pre 11/17/2020 Device)"
I'm attempting to update a device that was shipped before 11/17/2020.  When I try and run the
`./scz-tool-wifisoftap-accessinfo.devkit.sh` script as defined on this page [Collect your device’s TPM-derived SoftAP password](https://github.com/microsoft/Azure-Percept-Private-Preview/tree/main/tools/SoftAP-access-info-tool), it does not return. The script simply hangs and does not finish.

Will my Acc

[2021-04-23 18:20] v-iskha commented on #190
@mikelor - Have you tried running sudo before the command like sudo ./scz-tool-wifisoftap-accessinfo.devkit.sh -m=pe101

Also if you have older device then your command will be sudo ./scz-tool-wifisoftap-accessinfo.devkit.sh -m=pe100

[2021-04-23 20:43] mikelor commented on #190
Thanks @v-iskha I ran as root, so no sudden needed. I did try p100 switch same problem.

I just really need to no if my access point and pre shared key is expected to change after the latest firmware.

[2021-04-23 21:01] v-iskha commented on #190
@mikelor - After updating, your device will be reset to factory settings and you will lose your Wi-Fi connection (for sometime), SSH login and pre-shared key. Also Wi-Fi access point might change from scz-xxxx to apd-xxxx (where “xxxx” is the last four digits of the dev kit’s MAC address). Once the update is completed you can always reconfigure your device using OOBE.

[2021-04-23 21:43] mikelor commented on #190
Thanks @v-iskha will the pre-shared key change?

[2021-04-23 21:54] v-iskha commented on #190
@mikelor - Let me confirm on this.
@SillyKeith - Do you know if pre-shared key will get changed after device is updated? My understanding is that it should get reset and can be recovered by login as root and performing steps from [Collect your device’s TPM-derived SoftAP password](https://github.com/microsoft/Azure-Percept-Private-Preview/tree/main/tools/SoftAP-access-info-tool)

[2021-04-23 22:48] SillyKeith commented on #190
The SoftAP password (Pre-shared key) does not change from flashing as it's derived from the TPM.   The only thing I can think of that would cause the script to hang is if  a:) The download was corrupt - try redoing the wget.   or  b:)  The TPM can't be found- run this command to see if it's there:   ```
[ -d $(ls -d /sys/kernel/security/tpm* 2>/dev/null | head -1) ] && echo "TPM available" \
    |

[2021-04-26 17:00] #190 closed

[2021-04-26 18:05] SillyKeith commented on #190
Glad it finally worked!  Thank you for letting us know.

[2021-04-30 11:32] Benoit-LdL opened #191 "Can't deploy customvision.ai model on Percept dev kit using percept studio"
I made a custom object detection model on CustomVision.ai.
I have a Microsoft Percept Dev kit and would like to deploy my custom model on it.

After selecting my CustomVision project and the correct iteration in the Percept Studio a notification tells me it has been deployed correctly.

When checking the logs from the modules on the Percept device I see no problems on the edgeAgent logs (except th

[2021-04-30 11:40] v-prsasa commented on #191
@Benoit-LdL  Have you updated your dev kit to the latest software? These updates have numerous fixes that improve the reliability and security of the device.

[2021-04-30 12:05] Benoit-LdL commented on #191
as far as I know I did yes, I have reset the device several times so it has reinstalled the different modules several times. How can I check if I'm running the latest version?

[2021-04-30 12:16] v-prsasa commented on #191
@Benoit-LdL Confirm the update by navigating to the devkit's Device Twin in IoT Hub and checking the value of swVersion.

[2021-04-30 12:29] Benoit-LdL commented on #191
this is the version: "swVersion": {"value": "2020.110.114.105"

[2021-04-30 13:20] v-prsasa commented on #191
@Benoit-LdL Could you please update your device via USB. Here is the link for reference -https://docs.microsoft.com/en-gb/azure/azure-percept/how-to-update-via-usb

[2021-04-30 14:04] Benoit-LdL commented on #191
After the update i'm still facing the same issue

-------

W: [global] [    372551] [Scheduler00Thr] dispatcherLocalEventGetResponse:132   Blocked event would cause dispatching thread to wait on semaphore infinitely

2021-04-30 14:02:52 RTSP buffer pushed to result with timestamp 2800 (ms)
terminate called after throwing an instance of 'std::logic_error'
  what():  Network with multiple outputs is

[2021-04-30 14:11] v-prsasa commented on #191
@Benoit-LdL Did you try rebooting the device and try again?

[2021-04-30 14:12] Benoit-LdL commented on #191
I did yes, I'm trying to make a new support-bundle but it seems to be stuck at calling iotedge check

[2021-04-30 16:31] v-prsasa commented on #191
@Benoit-LdL Can you perform the below steps and let us know the outcome.
Go to IoT Hub -> IoT Edge -> Select Device -> click on Set Modules -> select azureyemodule,
then change image uri to mcr.microsoft.com/azureedgedevices/azureeyemodule:2103-2
and click update -> click on Review + create -> click on create.

The module download will get initiated. To verify if the download is completed, click o

[2021-05-03 09:09] Benoit-LdL commented on #191
this made it work, thanks for the help!

[2021-05-03 09:40] #191 closed

[2021-05-04 14:41] v-iskha commented on #189
We have now implemented the info in the pre-requisite of device update. Thanks @mikelor for suggestion

[2021-05-04 14:41] #189 closed

[2021-05-04 20:25] saseiler opened #192 "Dev-Tools-Pack vundefined error"
installer version: undefined
  env:
[code]
  log:
[code]

[2021-05-04 20:37] v-prsasa commented on #192
@v-robgi - Need your advice on the mentioned issue.

[2021-05-04 20:46] v-robgi commented on #192
Need some more information here @saseiler - can you please attach the log file found under:

%temp%\Dev-Tools-Pack-Installer

Currently there isn't enough details here to move forward on.

@YifengZheng - can you please take care of the follow up?

[2021-05-04 20:55] v-robgi commented on #192
[logs-192.zip](https://github.com/microsoft/Azure-Percept-Private-Preview/files/6423887/logs-192.zip)

[2021-05-06 07:44] v-xiaoc commented on #192
The first two logs show no permissions, it should be that the UAC prompt is not approved. The following log shows that the docker.exe command cannot be found. I have found this bug before. After the installed of the new version of docker, the location of docker.exe file path has changed, and this problem has been solved .But this change is not yet pushed to the Blob.

[2021-05-07 07:56] v-xiaoc commented on #192
@saseiler We have released the new version build to the studio. Please download and try again.

[2021-05-14 16:05] ckcampbell248 opened #194 "No status when applying firmware update"
I'm trying to apply the firmware update via USB-C.

-	I was able to connect with SSH and I am connected from my machine to the devkit via USB-C.
-	I unzipped the firmware package and downloaded uuu into a folder on my local machine.
-	I ran the uuu command and got the “Wait for known USB device to appear” message.
-	I ran the commands in the SSH shell to set the device to USB mode and reboot it.
-

[2021-05-14 17:07] v-iskha commented on #194
@ckcampbell248 - Hi Chris, first thing you need to check is that the USB cable is connected properly. Try unplugging and reconnecting both ends of the USB cable and jiggling the cable to ensure a secure connection. This almost always solves the issue.

Follow the below steps to update your dev kit:
•	[Instructions for how to update your dev kit over USB](https://github.com/microsoft/Azure-Percept-

[2021-05-17 19:07] v-iskha commented on #192
@saseiler - Hi Susan, since we do not have any update from you in last 7 days, we are assuming the issue to be fixed.

[2021-05-17 19:07] #192 closed

[2021-05-17 19:09] v-iskha commented on #194
@ckcampbell248 - Hi Chris, just following up on this. Did the instructions on the update worked for you?

[2021-05-20 19:20] ckcampbell248 commented on #194
I resolved this. I was trying to use uuu from a Linux shell on Windows Subsystem for Linux. When I switched to the Windows version of uuu from a Windows command prompt, it worked fine. I imagine the issue is with how WSL detects USB devices vs. Windows. You can close this but I would recommend updating the documentation to reference WSL.

[2021-05-20 19:20] #194 closed

[2021-05-21 09:27] MikeSpark opened #195 "azureeyemodule keep failing"
swVersion: 2021.105.111.112
vision module: 2104-2

Symptom: black screen on Webstream Video tab, azureeyemodule keep hitting error and restart module / reboot device does not work. Major error is Blocked event would cause dispatching thread to wait on semaphore infinitely. Tried to redeploy module in https://github.com/microsoft/Azure-Percept-Private-Preview/issues/191 but no luck

[percept15f_azu

[2021-05-21 16:13] lokijota opened #196 "Upgrade instructions - wrong file"
The update instructions:
https://github.com/microsoft/Azure-Percept-Private-Preview/blob/main/update-your-devkit-today/private-preview-update-instructions.md

say to update with a file called xxx.2055.raw. However, the provided link is to a zip with version xxx.1825.raw .

[2021-05-21 16:37] v-iskha commented on #196
@lokijota - The new updated file is 1.0.20210511.1825.zip

[2021-05-21 18:13] v-iskha commented on #196
@lokijota - The GitHub page has been updated now reflecting new version. Thanks :)

[2021-05-21 18:13] #196 closed

[2021-05-24 08:58] MikeSpark commented on #195
I have new finding - things work as expected when I use another Percept Camera module from my teammate. How do I confirm it's HW failure? Thank you.

[2021-05-24 09:20] v-iskha commented on #195
@MikeSpark - I would say, you can do device reset by re-flashing the latest firmware of the device and see if it fixes the issue. Sometimes it is the software which might create problem rather than hardware.

[2021-05-24 09:27] MikeSpark commented on #195
@v-iskha already did, below is the device twins message

[2021-05-24 09:32] v-iskha commented on #195
@MikeSpark - Yes I checked that your device is already having latest firmware. But the only way to reset the device is flashing the firmware again to reset everything on the device. Hence I recommended this.

[2021-05-24 10:44] MikeSpark commented on #195
@v-iskha flashing again per https://docs.microsoft.com/en-us/azure/azure-percept/how-to-update-via-usb but no luck, exactly same error keep appearing

[2021-05-24 14:17] mimcco commented on #195
@MikeSpark after updating your dev kit to the latest software, can you go through OOBE and add it as a new device in IoT Hub? Follow step 7 in these instructions: https://docs.microsoft.com/en-us/azure/azure-percept/quickstart-percept-dk-set-up.

I suspect you are trying to add the device you created when the dev kit was running the old software. We are aware of a bug that may cause the behavior y

[2021-05-24 14:42] MikeSpark commented on #195
@mimcco Well I did add it as a new device instead of reuse everytime I re-flashing the firmware. What I did not try is to use another IoT Hub, which I think does not make sense. Everytime I reset I will give it a newname on the IoT Hub so it knows it's brand new setup.

[2021-05-24 21:02] tsampige commented on #195
@MikeSpark did you try to deploy another sample model from the percept studio and see if you are able to view the inference result in webstream?

[2021-05-25 01:05] MikeSpark commented on #195
@tsampige yes I did. please find screenshot of failure FYI.

![image](https://user-images.githubusercontent.com/8683422/119424571-4c3fcd00-bd38-11eb-8397-2518f72be5e5.png)

[2021-05-26 04:52] MikeSpark commented on #195
Not sure does it count as finding but I re-flashed 3 times today, managed to get all modules running fine when camera module is not connected via USB. only when I connect the camera, the azureeyemodule will fail with same error

[2021-05-26 15:13] v-iskha commented on #195
@tsampige - We have an update from Mike saying, "Not sure does it count as finding but I re-flashed 3 times today, managed to get all modules running fine when camera module is not connected via USB. only when I connect the camera, the azureeyemodule will fail with same error"

[2021-05-26 15:53] tsampige commented on #195
@MikeSpark can you share the screenshot of the edge modules status from IoT Hub once the eye som is connected? What is the SW version of the firmware on the device after it was flashed?

[2021-05-29 02:40] brunolewin-msft opened #198 "Unable to create account for SSH access with Santacruz DK"
**Issue**: I'm receiving the error below in the OOBE wizard during initial setup of a PE-101 Dev Board. No local account gets created and I cannot SSH into the device to update it to current version.

Command failed: useradd -m -p "$(openssl passwd -1 $'<EDITED>')" user You are required to change your password immediately (password expired) useradd: PAM: Authentication token is no longer valid; ne

[2021-05-29 05:00] brunolewin-msft commented on #198
Closing per preview comment

[2021-05-29 05:00] #198 closed

[2021-06-02 16:06] v-iskha commented on #195
@MikeSpark - Any update on the details asked by @tsampige ?

[2021-06-02 16:07] v-iskha commented on #179
@SillyKeith - Any updates on the bugs filed on this issue. Do you want to keep this ticket open?

[2021-06-02 16:45] SillyKeith commented on #179
We have added extra validation steps and will not create user accounts when errors occur.   These changes will be present in the July release.

[2021-06-02 16:45] #179 closed

[2021-06-02 17:02] tsampige commented on #195
@MikeSpark what is the status of the azureeyemodule in iothub? Here's the screenshot of where you can find the status
![image](https://user-images.githubusercontent.com/37117811/120521271-9d2f7100-c389-11eb-9712-7cab5d2cdbc1.png)

[2021-06-03 05:00] MikeSpark commented on #195
after flashing the firmware, before plugin the physical camera, the azureeyemodule is shown as running, with version said something like "preload model", I tried both upgrade version or keep it preload, no matter which version of azureeyemodule, it fails after I plugin the physical camera. I highly suspsect something went wrong on camera itself and I can't restore the software by flashing the firm

[2021-06-03 05:07] MikeSpark commented on #195
![image](https://user-images.githubusercontent.com/8683422/120590178-b3622d80-c46c-11eb-9a34-856d4ca62e5c.png)

[2021-06-03 05:08] MikeSpark commented on #195
![image](https://user-images.githubusercontent.com/8683422/120590269-d7257380-c46c-11eb-98a6-9241b2bf2d8c.png)

[2021-06-03 05:19] MikeSpark commented on #195
and then I click upgrade, as you may ask
![image](https://user-images.githubusercontent.com/8683422/120590911-da6d2f00-c46d-11eb-9807-e5cdc3f2c598.png)
waited a while, still the same result
![image](https://user-images.githubusercontent.com/8683422/120591122-359f2180-c46e-11eb-83a8-122908516efe.png)
I just paste the log here as well.
Inference App Version: 2021-02-08
2021-06-03 05:15:29 ERROR: Unr

[2021-06-03 13:03] othmane-alaoui commented on #195
Hello @MikeSpark , I am having the same error.
Have you found a solution?

[2021-06-03 15:12] MikeSpark commented on #195
@othmane-alaoui No. still pending. Did you try using another Azure Eye?

[2021-06-03 19:25] tsampige commented on #195
@MikeSpark i'm discussing with @mimcco to get you replacement devkit as i think there is an issue with the eye som cable connection.

[2021-06-07 03:56] MikeSpark commented on #195
@tsampige thanks. any method we can capture the log from camera? I just worry other customers to run into same situation as well?

[2021-06-08 21:32] tsampige commented on #195
@Devinwong Mike has a question about capturing log from camera. Are there any methods currently available?

[2021-06-15 04:31] MikeSpark commented on #195
@tsampige any timeline can share for the replacement unit btw? Thank you

[2021-06-15 16:16] tsampige commented on #195
@mimcco can you provide a rough timeline when Mike can expect replacement device?

[2021-06-15 17:41] mimcco commented on #195
@MikeSpark, @tsampige - as discussed in our offline conversation, a new dev kit is on its way.

[2021-06-15 17:41] #195 closed